/* #main-nav { */


/*   height: 90px; */


/*   padding: 30px; */


/* } */

/* #logo { */
/*   height: auto; */
/* } */
/*  */
/* #logo img { */
/*   max-height: 70px; */
/* } */
/*  */
/* .navbar-brand { */
/*   /* padding: 0; */ */
/*   padding-top: 10px; */
/* } */
/*  */
/* #main-nav .navbar-nav a { */
/*   /* padding-top: 25px; */ */
/*   /* padding-bottom: 25px; */ */
/* } */

a.activity {
  display: block;
  padding: 15px 0;
  color: #000;
  border-top: 1px solid #ccc;
}

a.activity:last-child {
  border-bottom: 1px solid #ccc;
}

a.activity:hover {
  text-decoration: none;
  background-color: #eee;
}

a.activity span {
  display: block;
}

.activity-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.activity small {
  font-size: .8em;
  text-transform: uppercase;
  color: #666;
}

p.title {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#activity-body table {
  border-collapse: collapse;
}

#activity-body td {
  border: 1px solid #666;
  padding: 10px;
}


/* Typography */

body, li h3, .preamble, #cboxTitle .subtitle {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, .container li, nav, footer, .btn, .subtitle, #cboxTitle {
  font-family: 'Roboto', sans-serif;
}

h2 .preamble {
  font-weight: 100;
}

body, h3, .container li, footer, .preamble {
  font-weight: 300;
}

li h3 {
  font-weight: 400;
}

h1, h2, nav, .btn, .subtitle, #cboxTitle {
  font-weight: 900;
}

.preamble {
  text-transform: lowercase;
}

h2, nav, .subtitle, .btn, #cboxTitle {
  text-transform: uppercase;
}


/* Global */

body.homepage {
  padding-top: 66px;
  padding-bottom: 20px;
  background: #17283e;
  background: linear-gradient(to right, rgba(20, 34, 53, 1) 0%, rgba(23, 40, 62, 1) 20%, rgba(23, 40, 62, 1) 80%, rgba(20, 34, 53, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}

nav a, .homepage a {
  color: #8ac8ff;
}

nav a:hover, .homepage a:hover {
  color: #fff;
  text-decoration: none;
}

nav a:focus, .homepage a:focus {
  outline: none !important;
  color: #8ac8ff;
  text-decoration: none;
}

nav a[href*="//"]:not([href*="blueprint"]):hover, .homepage a[href*="//"]:not([href*="blueprint"]):hover {
  color: #f26922 !important;
  border-color: #f26922 !important;
}

nav img, .homepage img {
  max-width: 100%;
  height: auto;
}

nav a img, .homepage a img {
  border: 2px solid #8ac8ff;
}

nav a:hover img, .homepage a:hover img {
  border-color: #fff;
}

nav svg, .homepage svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}

nav a svg, .homepage a svg {
  fill: #8ac8ff;
}

nav a:hover svg, .homepage a:hover svg {
  fill: #fff;
}

.homepage h2 {
  font-size: 34px;
  line-height: .72;
  margin: 0 0 -1px;
}

.homepage h3 {
  color: #fff;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 4px;
}

.homepage h3 .subtitle {
  font-size: 13px;
  color: #a1cc3b;
}

.icon, .subtitle {
  display: block;
}

.homepage .btn {
  color: #8ac8ff;
  border: 2px solid #8ac8ff;
  border-radius: 0;
  background: none;
  display: block;
  font-size: 20px;
  margin: 15px 0;
  padding: 16px;
  position: relative;
  white-space: normal;
}

.homepage .btn:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

.homepage .btn:focus {
  background: none;
  border-color: #8ac8ff;
}

.homepage .btn span {
  display: inline-block;
}

#page {
  overflow: hidden;
}

.container, .jumbotron {
  padding: 32px 16px 16px;
}

.container ul {
  margin: 16px 0;
}

.container li {
  margin: 0 0 16px;
}

.container li a .icon {
  display: none;
}


/* Animation & Transitions */

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-reveal {
  0% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

@keyframes text-reveal-green {
  0% {
    color: transparent;
  }
  100% {
    color: #a1cc3b;
  }
}

@keyframes text-reveal-blue {
  0% {
    color: transparent;
  }
  100% {
    color: #8ac8ff;
  }
}

@keyframes border-reveal-blue {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #8ac8ff;
  }
}

@keyframes grow {
  0% {
    transform: scale(.9, .95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes draw-horizontal {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes draw-vertical {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

a, svg, img, .icon-bar {
  transition: color .3s, transform .6s, fill .3s, border .3s, background .3s, stroke .3s;
}

.icon {
  transition: transform .4s;
}

nav h1 {
  transition: transform 2s;
}

.jumbotron {
  transition: opacity .5s;
}

#masthead, .container, .theme-light {
  transition: opacity 1s ease .2s;
}


/* Preliminary states */

.preload .jumbotron, .preload .jumbotron p a, .preload .jumbotron a.btn, .preload .jumbotron .intro-1, .preload .jumbotron .intro-2, .preload .jumbotron .intro-3 {
  color: transparent;
  border-color: transparent;
  animation: none;
}

.preload .jumbotron p a, .preload .jumbotron .intro-1, .preload .jumbotron .intro-2, .preload .jumbotron .intro-3 {
  transform: scale(.9, .95);
}

.preload .jumbotron, .preload .container, .preload .light-theme, .preload #masthead {
  opacity: 0;
  animation: none;
}

.preload .jumbotron a.btn:before, .preload .jumbotron a.btn:after {
  transform: scale(0, 1);
  animation: none;
}

.preload .jumbotron .box:before, .preload .jumbotron .box:after {
  transform: scale(1, 0);
  animation: none;
}

@media (min-width: 768px) {
  .animation #masthead, .animation .container, .animation .light-theme {
    transition: none;
    /* Hack to make Safari behave itself */
  }
  /* Loading Animations */
  .animation .jumbotron a.btn:before, .animation .jumbotron a.btn:after {
    animation: draw-horizontal 2s ease-in 1s backwards;
  }
  .animation .jumbotron .box:before, .animation .jumbotron .box:after {
    animation: draw-vertical 1s ease-in 2.5s backwards;
  }
  .animation #masthead {
    animation: reveal 1s ease-in 4.5s backwards;
  }
  .animation .container, .animation .light-theme {
    animation: reveal 1s ease-in 5s backwards;
  }
  .animation .jumbotron a.btn {
    animation: text-reveal-blue 1s ease-in 3.5s backwards, border-reveal-blue 1s ease-in 4s backwards;
  }
  .animation .jumbotron {
    animation: text-reveal 2s ease-in 3.1s backwards;
  }
  .animation .jumbotron p a {
    display: inline-block;
    animation: text-reveal-green .5s ease-in 1s backwards, grow 1s ease-out 1s backwards;
  }
  .animation .jumbotron .intro-1, .animation .jumbotron .intro-2, .animation .jumbotron .intro-3 {
    color: #fff;
    display: inline-block;
  }
  .animation .jumbotron .intro-1 {
    animation: text-reveal .5s ease-in 1.8s backwards, grow 1s ease-out 1.8s backwards;
  }
  .animation .jumbotron .intro-2 {
    animation: text-reveal .5s ease-in 2.3s backwards, grow 1s ease-out 2.3s backwards;
  }
  .animation .jumbotron .intro-3 {
    animation: text-reveal .5s ease-in 2.7s backwards, grow 1s ease-out 2.7s backwards;
  }
}


/* Header */

nav.navbar {
  background: #17283e;
  background: linear-gradient(to right, rgba(20, 34, 53, 1) 0%, rgba(23, 40, 62, 1) 20%, rgba(23, 40, 62, 1) 80%, rgba(20, 34, 53, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px solid #88b8e3;
  border-color: rgba(136, 184, 227, .25);
  overflow: hidden;
  font-size: 13px;
}

nav a {
  display: block;
  position: relative;
}

nav a.navbar-brand {
  height: 65px;
  width: calc(100% - 58px);
  max-width: 283px;
  padding: 16px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}

.navbar-toggle {
  padding: 9px 0;
}

.navbar-toggle .icon-bar {
  background: #8ac8ff;
  width: 35px;
  height: 3px;
  border-radius: 0;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 10px;
}

.navbar-toggle[aria-expanded="true"] .icon-bar {
  background: #fff;
}

nav h1 {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  transform-origin: 25% 50%;
}

nav .icon {
  height: 28px;
  width: 40px;
  margin: 0 auto 8px;
  float: none;
}

nav a:hover .icon {
  transform: scale(1.07, 1.07);
}


/*nav a:hover h1 {
	transform: scale(1.05, 1.005);
}*/


/* Jumbotron */

.jumbotron {
  background: none;
  margin: 0;
}

.jumbotron p {
  font-weight: 300;
  line-height: 1.6;
  margin: 0 0 32px;
}

.jumbotron p a {
  color: #a1cc3b;
  font-weight: 400;
}

.jumbotron p a:hover {
  color: #fff !important;
}

.jumbotron p a:before {
  content: '<';
}

.jumbotron p a:after {
  content: '>';
}


/* Preview Galleries */

.gallery {
  text-align: center;
}

.gallery>div {
  margin: 0px 0 48px;
}

.gallery h3 {
  font-size: 24px;
  line-height: 1.6;
}

.preview-image .icon {
  display: block;
  position: absolute;
  bottom: 32px;
  left: 50%;
  height: 96px;
  width: 96px;
  transform: translate(-50%, 0) scale(1, 1);
}

#featured-units .preview-image .icon {
  left: auto;
  right: 26px;
  height: 80px;
  width: 80px;
  transform: none;
}

a:hover .preview-image .icon {
  transform: translate(-50%, 0) scale(1.04, 1.04);
}

#featured-units a:hover .preview-image .icon {
  transform: scale(1.04, 1.04);
}

a .preview-image .icon svg {
  fill: #17283e;
  stroke: #8ac8ff;
  stroke-width: .02em;
}

a:hover .preview-image .icon svg {
  fill: #17283e;
  stroke: #fff;
}


/* Footer */

footer {
  font-size: 14px;
  margin: 32px 0 0;
}


/* Drafting line effects */

h2, .box, .box-content, .preview-image, .gallery {
  position: relative;
  display: block;
}

.preview-image {
  margin: 0 -15px 10px;
  padding: 16px 15px;
  border: 1px solid rgba(136, 184, 227, .2);
  border-width: 1px 0;
}

.box .box-content {
  padding: 16px;
}

h2:after, .box:before, .box:after, .box-content:after, .box-content:before, .preview-image:before, .preview-image:after, .btn:before, .btn:after, .gallery:before {
  content: '';
  display: block;
  position: absolute;
}

.box:before, .box:after {
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, rgba(136, 184, 227, 0) 0%, rgba(136, 184, 227, 0.5) 50%, rgba(136, 184, 227, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1, 1.4);
}

.preview-image:before, .preview-image:after, .btn:before, .btn:after, .box-content:after, .box-content:before, h2:after, .gallery:before {
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(136, 184, 227, 0) 0%, rgba(136, 184, 227, 0.5) 50%, rgba(136, 184, 227, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1.4, 1);
}

a.box:before {
  left: 0;
}

a.box:after {
  right: 0;
}

li a.box:before {
  left: -1px;
}

li a.box:after {
  right: -1px;
}

div.box:before {
  left: 15px;
}

div.box:after {
  right: 15px;
}

.preview-image:before {
  top: 16px;
}

.preview-image:after {
  bottom: 16px;
}

.btn:before {
  top: -2px;
}

.box-content:before {
  top: -1px;
}

.btn:after {
  bottom: -2px;
}

h2:after {
  bottom: 0;
}

.gallery:before {
  bottom: -48px;
}

.box-content:after {
  bottom: -1px;
}

.gallery:after {
  content: '';
  display: block;
  clear: both;
}


/* Light theme */

.light-theme {
  background: #cad5e0;
  color: #17283e;
}

.light-theme a {
  color: #17283e;
}

.light-theme a svg {
  fill: #97b5d0;
}

.light-theme a:hover svg {
  fill: #6b8bb2;
}

.light-theme h2:after, .light-theme .box .box-content:before, .light-theme .box .box-content:after {
  background: linear-gradient(to right, rgba(107, 139, 178, 0) 0%, rgba(107, 139, 178, 1) 50%, rgba(107, 139, 178, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.light-theme .box:before, .light-theme .box:after {
  background: linear-gradient(to bottom, rgba(107, 139, 178, 0) 0%, rgba(107, 139, 178, 1) 50%, rgba(107, 139, 178, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.light-theme h3 {
  color: #dd3c10;
}

.light-theme .box {
  margin: 0;
  border: 1px solid #97b5d0;
}

.light-theme .box:hover {
  border-color: #6b8bb2;
}


/* Mobile header */

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .collapse.in {
    display: block !important;
  }
  #navbar {
    background: #cad5e0;
    color: #17283e;
    font-size: 18px;
  }
  #navbar a {
    color: #17283e;
  }
  #navbar svg {
    fill: #17283e;
  }
  nav .icon {
    height: 32px;
    width: 48px;
    margin: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
  }
}


/* Video Player */


/* Core Style */

#colorbox, #cboxOverlay, #cboxWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: visible;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}


/* Custom */

#cboxOverlay {
  background: #17283e;
}

#colorbox {
  outline: 0;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

#cboxContent {
  margin-top: 44px;
  overflow: visible;
  background: #transparent;
}

.cboxIframe {
  background: transparent;
}

#cboxError {
  padding: 50px;
  border: 1px solid #eee;
}

#cboxLoadedContent {
  overflow: visible !important;
  z-index: 3;
}

#cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center;
}

#cboxLoadingOverlay {
  background: transparent;
}

#cboxTitle {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 20px;
  padding: 12px 108px 10px 12px;
  width: 100%;
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid rgba(136, 184, 227, .25);
}

#cboxTitle .subtitle {
  font-weight: 300;
  display: inline-block;
  margin: 0 0 0 6px;
  text-transform: none;
  letter-spacing: 0;
}

#cboxCurrent {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  padding: 0 128px 0 0;
  text-align: right;
  line-height: 44px;
  z-index: 2;
}


/* Buttons */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: none;
  background: transparent;
  padding: 0;
  margin: 8px;
  overflow: visible;
  text-indent: -9999px;
  width: 28px;
  height: 28px;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  z-index: 4;
}


/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  background-image: url('js/images/arrow-left-48.png');
  right: 78px;
  background-position: 5px center;
}

#cboxNext {
  background-image: url('js/images/iconmonstr-arrow-24-icon-48.png');
  right: 41px;
  background-position: 7px center;
}

#cboxClose {
  background-image: url('images/icon-close.svg');
  right: 2px;
  transition: transform .2s;
}

#cboxClose:hover {
  transform: scale(1.1, 1.1);
}

.no-touch #cboxClose:hover, .no-touch #cboxPrevious:hover, .no-touch #cboxNext:hover, #cboxNext:active, #cboxNext:focus {
  background-color: transparent;
  background-color: #363636;
  z-index: 20;
}

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 120px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 80px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 80px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

@media screen and (min-width: 951px) {
  #cboxTitle {
    padding-right: 200px;
  }
  #cboxPrevious:hover:after, #cboxNext:hover:after, #cboxClose:hover:after {
    display: block;
  }
}

@media screen and (max-width: 950px) {
  #cboxCurrent {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  #cboxLoadedContent {
    padding: 0;
  }
  #cboxTitle {
    text-indent: -9999px;
  }
  #cboxPrevious {
    right: auto;
    left: 0;
  }
  #cboxNext {
    right: auto;
    left: 40px;
  }
  #cboxClose {
    right: 0;
  }
}


/* Medium-sized phones (and up) */

@media only screen and (min-width: 350px) {
  .jumbotron p {
    font-size: 24px;
    line-height: 1.6;
  }
}


/* Larger Phones */

@media only screen and (min-width: 480px) {
  .box .box-content {
    padding-left: 96px;
    position: relative;
    display: block;
  }
  .box .box-content .icon {
    height: 48px;
    width: 64px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
  }
}


/* Tablets */

@media only screen and (min-width: 768px) {
  body {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .homepage .btn {
    padding: 24px;
    font-size: 22px;
  }
  .homepage h2 {
    font-size: 48px;
    line-height: .72;
    margin: 0 auto 32px;
    max-width: 900px;
    text-align: center;
  }
  .navbar-toggle {
    padding: 16px;
    margin: 8px 0;
  }
  .homepage nav a.navbar-brand {
    height: 80px;
    width: 400px;
    max-width: none;
  }
  .container, .jumbotron {
    width: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 32px 32px;
  }
  .container {
    padding: 48px 32px;
  }
  footer, .jumbotron {
    text-align: center;
  }
  .jumbotron p {
    font-size: 30px;
    line-height: 1.6;
  }
  .gallery>div.col-sm-6 {
    margin-bottom: 12px;
  }
  .preview-image {
    margin: 0 -16px 10px;
    padding: 16px;
    border-width: 1px;
  }
  div.col-sm-6:nth-last-of-type(2n) .preview-image {
    border-width: 1px 0 1px 1px;
    margin-right: -15px;
  }
  div.col-sm-6:nth-of-type(2n-1) .preview-image {
    border-width: 1px 1px 1px 0;
    margin-left: -15px;
  }
  .container ul {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
  }
  .container li {
    margin-bottom: 32px;
  }
  .box .box-content {
    padding: 24px 24px 24px 160px;
  }
  .box .box-content .icon {
    height: 64px;
    width: 96px;
    left: 32px;
  }
  .exit-links {
    margin: 12px 0;
  }
  footer {
    margin-top: 40px;
  }
  .gallery:before {
    bottom: 0;
  }
}


/* Laptops */

@media only screen and (min-width: 992px) {
  body {
    padding-top: 113px;
  }
  nav a.navbar-brand {
    height: 112px;
    width: 400px;
    max-width: none;
    padding: 32px 0 32px 32px;
  }
  nav .navbar-right {
    margin: 0;
    padding: 13px 16px 12px 0;
  }
  .jumbotron {
    padding-bottom: 16px;
  }
  .jumbotron p {
    font-size: 34px;
    line-height: 1.6;
    margin: 0 auto 30px;
    max-width: 1060px;
  }
  h2 {
    font-size: 68px;
    line-height: .7;
    margin: 60px auto 32px;
  }
  #cs-in-classroom h2 {
    display: none;
  }
  .container li a h3 {
    font-size: 25px;
  }
  .gallery>div {
    margin-bottom: 12px;
  }
  div.col-md-4:nth-last-of-type(3n-3) .preview-image {
    border-width: 1px 0 1px 1px;
    margin-right: -15px;
  }
  div.col-md-4:nth-last-of-type(3n-1) .preview-image {
    border-width: 1px 0;
    margin-left: -15px;
  }
  .box .box-content a {
    padding-left: 176px;
  }
  .box .box-content .icon {
    height: 72px;
    width: 98px;
    left: 22px;
    transform: translate(0, -50%) scale(.96, .96);
  }
  .box:hover .box-content .icon {
    transform: translate(0, -50%) scale(1, 1);
  }
  .preview-image .icon {
    height: 80px;
    width: 80px;
  }
  #featured-units .preview-image .icon {
    height: 64px;
    width: 64px;
  }
  .gallery:before {
    transform: scale(.95, 1);
  }
  .light-theme .box {
    border-color: transparent;
  }
  .light-theme .box:before, .light-theme .box:after, .light-theme .box .box-content:before, .light-theme .box .box-content:after {
    opacity: .25;
    transition: opacity .3s;
  }
  .light-theme .box .box-content:before, .light-theme .box .box-content:after {
    opacity: .35;
    transition: opacity .3s;
  }
  .light-theme .box:hover:before, .light-theme .box:hover:after, .light-theme .box:hover .box-content:before, .light-theme .box:hover .box-content:after {
    opacity: 1;
  }
}


/* Desktops and wide Screens */

@media only screen and (min-width: 1200px) {
  nav .navbar-right {
    padding-right: 8px;
  }
  .navbar-nav>li>a {
    padding-left: 24px;
    padding-right: 24px;
  }
}
