/* #main-nav { */
/*   height: 90px; */
/*   padding: 30px; */
/* } */
#logo {
  height: auto;
}

#logo img{
  max-height: 70px;
}

.navbar-brand {
  /* padding: 0; */
}

#main-nav .navbar-nav a {
  padding-top: 25px;
  padding-bottom: 25px;
}

a.activity {
  display: block;
  padding: 15px 0;
  color: #000;
  border-top: 1px solid #ccc;
}

a.activity:last-child {
  border-bottom: 1px solid #ccc;
}

a.activity:hover {
  text-decoration: none;
  background-color: #eee;
}

a.activity span {
  display: block;
}

.activity-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.activity small {
  font-size: .8em;
  text-transform: uppercase;
  color: #666;
}

p.title {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
