{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="page">
	<article class="light-theme">

<div class="col-md-12">
  <header><span class="preamble"><h2 class="title"  style="line-height:1;">{{resource.title}}</h2></span></header>
  <div class="article-content">
    {{resource.body | safe}}
  </div>
</div>
<div class="col-md-12">
	<div class="article-content">

  {% if activities %}
    <h1>Related Units</h1>
    <ul style="max-width:100%;">
    {% for activity in activities %}
      <li><a href="{% url 'detail' activity.id %}">{{activity.title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.is_superuser %}
    <hr>
    <a href="{% url "edit_resource" resource.id %}" class="btn btn-primary" style="width:150px !important; font-size:15px; padding: 4px 8px;">Edit Resource</a>
    <form method="post" action="{% url "delete_resource" resource.id %}" style="width:150; max-width:100%;">
      {% csrf_token %}
      <input type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger" value="Delete Resource">
    </form>
  {% endif %}
</div>

</div>
</article>


</div><!-- /#page -->
{% endblock %}
