{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-9">
  <h1>{{resource.title}}</h1>
  <div>
    {{resource.body | safe}}
  </div>
</div>
<div class="col-md-3">
  {% if activities %}
    <h3>Related Units</h3>
    <ul>
    {% for activity in activities %}
      <li><a href="{% url 'detail' activity.id %}">{{activity.title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if user.is_superuser %}
    <hr>
    <a href="{% url "edit_resource" resource.id %}" class="btn btn-primary">Edit Resource</a>
    <form method="post" action="{% url "delete_resource" resource.id %}" style="display:inline">
      {% csrf_token %}
      <input type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger" value="Delete Resource">
    </form>
  {% endif %}

</div>
{% endblock %}
