{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="" class="has-page-menu">


    <div id="page-menu" class="light-theme">
        
        <header>
            <a href="#page-menu" class="toggle">
                <h3>
                    <span class="icon open"><svg><use xlink:href="#icon-filter" /></svg></span>
                    <span class="icon close"><svg><use xlink:href="#icon-close" /></svg></span>
                    <span class="label">Filter Resources</span>
                </h3>
            </a>
        </header>
        
        <div class="menu-content">
            <ul>
                <li><a href="/resources">All Resources</a></li>
                <li><a href="/resources?tag=Planning">Planning</a></li>
                <li><a href="/resources?tag=School Culture">School Culture</a></li>
                <li><a href="/resources?tag=Assessment">Assessment</a></li>
                <li><a href="/resources?tag=Instructional Strategies">Instructional Strategies</a></li>
                <li><a href="/resources?tag=Device Management">Device Management</a></li>
                <li><a href="/resources?tag=Classroom Management">Classroom Management</a></li>
                <li><a href="/resources?tag=Video">Video</a></li>
            </ul>
            {% if user.is_superuser %}
              <p>
                <a href="{% url "create_resource" %}" class="btn btn-primary">New Resource</a>
              </p>
            {% endif %}
        </div>
        
    </div>
    
    
    <article id="educator-resources">


        <header>
            <h2><span class="preamble">educator</span> Resources</h2>
            <p>Answers to common questions, developed by teachers and NYC DOE staff.</p>
        </header>   

        
        <div class="article-content">
                    
            <ul class="activity-list"> <!-- submenu class narrowed the list area -->
            {% spaceless %}
              {% for resource in resources %}
              <li><a href="{% url "show_resource" resource.id %}"><h3>{{ resource.title }}</h3>
                {% if resource.summary %}
                  {{ resource.summary }}
                {% endif %}
                </a></li>
              {% endfor %}
            {% endspaceless %}
            </ul>

        </div>




</article>



</div><!-- /#page -->
{% endblock %}
