<div class="activity-list">
  {% spaceless %}
  {% for activity in activities %}
    <li>
      <a href="{% url 'detail' activity.id %}">
        <h3>
          <span class="activity-grade">Grades {{activity.body.grade}}</span>
          <span class="activity-title">{{ activity.title }}</span>
        </h3>
        <span class="activity-devices">        
          {% if activity.body.devices %}
            Devices: {{activity.body.devices|join:", "}}
          {% endif %}
        </span>
        <span class="activity-concepts">        
          {% if activity.body.concepts %}
            Concepts: {{activity.body.concepts|join:", "}}
          {% endif %}
        </span>
      </a>
    </li>
  {% endfor %}
  {% endspaceless %}
</div>
