{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-9">
  <h1>{{ activity.html_body|safe }}</h1>
</div>
<div class="col-md-3">
  {% if user.is_superuser %}
    <p><a href="{% url 'admin:activities_activity_change' activity.id %}">Edit</a></p>
  {% endif %}
    <p><a href="{{ activity.google_file_id }}" target="_blank">View original on Google Docs</a></p>
    <p><a href="{{ activity.copy_url }}" target="_blank">Make a copy on Google Docs</a></p>
</div>
{% endblock %}


