{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script src="/static/js/reqwest.min.js"></script>
<div class="col-md-9">
  <div id="activity-body">{{ activity.html_body|safe }}</div>
</div>
<div class="col-md-3">
  {% if user.is_superuser %}
    <p><a href="{% url 'admin:activities_activity_change' activity.id %}">Edit</a></p>
    <div class="form-group">
      <select name="approved" id="approved" class="form-control">
        <option value="1" {% if activity.approved == 1 %}selected{% endif %}>Approved</option>
        <option value="0" {% if activity.approved == 0 %}selected{% endif %}>Pending</option>
      </select>
      {% csrf_token %}
    </div>
    <hr>
    <script>
      (function(){
        document.querySelector('#approved').addEventListener('change', function(e){
          var token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
          reqwest({url: '/activities/change_status/', method: 'POST', data: {csrfmiddlewaretoken: token, id: {{activity.pk}}, approved: e.target.value}});
        });
      })();
    </script>
  {% endif %}

  {% if user.id == activity.user.id %}
    <div class="form-group">
      <p>Click below to refresh the content of your unit. This will update your unit from your original Google Doc.</p>
      <button class="btn btn-primary" id="refresh-button">Refresh Content</button>
      {% csrf_token %}
    </div>
    <hr>
    <script>
      (function(){
        var butt = document.querySelector('#refresh-button')
        butt.addEventListener('click', function(e){
          butt.setAttribute('disabled', true);
          butt.textContent = 'Parsing...';
          var token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
          reqwest({
            url: '/activities/refresh/',
            method: 'POST',
            data: {csrfmiddlewaretoken: token, id: {{activity.pk}}}
          }).then(function(result){
            document.querySelector('#activity-body').innerHTML = result.body;
            butt.removeAttribute('disabled');
            butt.textContent = 'Refresh Content';
          });
        });
      })();
    </script>
  {% endif %}

  <p>
    Created by:
    <a href="/users/{{activity.user.id}}">
      {% if activity.user.profile %}
        {{activity.user.profile.full_name}} 
      {% else %}
        {{activity.user.username}}
      {% endif %}
    </a>

  </p>

  <p><a href="{{ activity.google_file_id }}" target="_blank">View original on Google Docs</a></p>
  <p><a href="{{ activity.copy_url }}" target="_blank">Make a copy on Google Docs</a></p>

</div>
{% endblock %}


