{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div id="page" class="has-page-menu">

  <div id="page-menu" class="light-theme">
      
    <header>
    
      <a href="#page-menu" class="toggle">
        <h3>
          <span class="icon open"><svg><use xlink:href="#icon-filter" /></svg></span>
          <span class="icon close"><svg><use xlink:href="#icon-close" /></svg></span>
          <span class="label">Find a Unit</span>
        </h3>
      
      </a>
    
    </header>
    
    <div class="menu-content">
      <form action="/units">
      
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="q" value="{{filters.q}}" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default">Go!</button>
          </span>
        </div>
      </div>

      {% if user.is_superuser %}
      <div class="form-group">
        <select name="approved" id="approved-filter" class="form-control">
          <option value="1" {% if filters.approved == "1" %}selected{% endif %}>Approved</option>
          <option value="0" {% if filters.approved == "0" %}selected{% endif %}>Pending</option>
        </select>
      </div>
      {% endif %}

      
      <div class="form-group">
        <select name="grade" id="grade-filter" class="form-control">
          <option value="">All Grades</option>
          {% for grade in grades %}
          <option {% if filters.grade == grade.name %}selected{% endif %} value="{{grade.name}}">{{grade.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select name="subject" id="subject-filter" class="form-control">
          <option value="">All Subjects</option>
          {% for subject in subjects %}
          <option {% if filters.subject == subject.name %}selected{% endif %} value="{{subject.name}}">{{subject.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <b>Filter by CS concept</b>
        {% for d in all_concepts %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="concept-filter" value="{{d}}" {% if d in filters.concepts %}checked{% endif %} name="concepts">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <b>Filter by Topic</b>
        {% for d in all_tags %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="tag-filter" value="{{d}}" {% if d in filters.tags %}checked{% endif %} name="tags">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <b>Filter by device</b>
        {% for d in all_devices %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="device-filter" value="{{d}}" {% if d in filters.devices %}checked{% endif %} name="devices">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <b>Filter by software</b>
        {% for d in all_software %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="software-filter" value="{{d}}" {% if d in filters.software %}checked{% endif %} name="software">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <a href="/units" class="btn btn-default">Reset</a>
        <button class="btn btn-default">Apply</button>
      </div>
          
        
      </form>
      
    </div><!-- /.menu-content -->
    
  </div><!-- /#page-menu -->

  <article id="explore-units">
  
    <header>
      <h2><span class="preamble">CS Educator</span> Community Units</h2>
      <p>These units were designed and taught in classrooms by educators of different backgrounds to produce meaningful <a href="/outcomes">student outcomes</a>.</p>
    </header>   
    
    
    <div class="article-content">
                      
      <ul class="activity-list"> <!-- submenu class narrowed the list area -->
        {% if activities %}
        {% include "activities/_activity_list.html" %}
        {% else %}
        <p>No units found.</p>
        {% endif %}
      </ul>  
  </div>

  <!-- <h1 style="margin-top: 0;">Units</h1> -->
  {% if user.is_authenticated %}
  <p>Contribute a new unit <a href="{% url 'new' %}">here</a></p>
  {% else %}
  <div class="add-new"> <a href="{% url 'auth_login' %}?next={% url 'new' %}">Log in</a>   to contribute a new unit</div>
  {% endif %}
</div>
</div>

<div class="pagination">
  <span class="step-links">
    {% if activities.has_previous %}
    <a href="?page={{ activities.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ activities.number }} of {{ activities.paginator.num_pages }}.
    </span>

    {% if activities.has_next %}
    <a href="?page={{ activities.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>
    {% endif %}
  </span>
</div>


	</article>

</div><!-- /#page -->
{% endblock %}
