{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="row">
  <div id="activity-app">
    <div v-if="submitted" class="col-md-4">
      <h2>Activity Submitted</h2>
      <p>You're activity has been submitted and is pending review.</p>
      <p><a href="/activities/new">Click here to submit another activity</a></p>
    </div>
    <div v-else>

    <form id="create-activity" action="{% url 'create' %}" method="post" v-on:submit="submit" class="col-md-4">
      {% csrf_token %}

      <label for="url">Google Docs URL</labeL>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" name="url" id="url" v-model="url" placeholder="http://">
          <span class="input-group-btn"><button class="btn btn-default" type="button" v-on:click="parseDoc">
            <span v-if="fetching">
              Parsing...
            </span>
            <span v-else>
              Fetch
            </span>
          </button></span>
        </div>

        <p style="margin-top: 15px;" class="bg-danger" v-if="parseError">
          Sorry that url couldn't be processed. Please make sure that you've entered a valid Google Doc url and that you've made your document public.
        </p>
      </div>

      <div v-if="html_body">
        <p class="form-group">
          <label for="title">Title</labeL>
          <input class="form-control" type="text" id="title" required v-model="title">
        </p>

        <p  class="form-group">
          <label for="grade">Grade</labeL>
          <select class="form-control" id="grade" required v-model="grade">
            <option value=""></option>
            {% for g in grades %}
              <option value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
          </select>
        </p>

        <p class="form-group">
          <label for="pacing">Pacing</labeL>
          <input class="form-control" type="text" id="pacing" required v-model="pacing">
        </p>

        <p class="form-group">
          <label for="subject">Subject</labeL>
          <select class="form-control" id="subject" required v-model="subject">
            <option value=""></option>
            {% for s in subjects %}
              <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
          </select>
        </p>

        <p class="form-group">
          <label for="subject">Software</labeL>
          <select class="form-control" id="software" required v-model="software">
            <option value=""></option>
            {% for s in software %}
              <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
          </select>
        </p>

        <p class="form-group">
          <label>Devices</labeL>
            {% for d in devices %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ d.name }}" v-model="devices"> {{ d.name }}</label>
            {% endfor %}
        </p>

        <p class="form-group">
          <label>Concepts</labeL>
            {% for c in concepts %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ c.name }}" v-model="concepts"> {{ c.name }}</label>
            {% endfor %}
        </p>


        <textarea style="display:none;" v-model="html_body"></textarea>
        <textarea style="display:none;" v-model="plain_body"></textarea>

        <p class="form-group">
          <input type="submit" class="btn btn-default" value="Submit Activity" :disabled="submitting"/>
        </p>
      </div>
    </form>

    <div class="col-md-8" style="border-left: 1px solid #ccc;" v-if="html_body">
      <h3>Preview:</h3>
      <div id="preview" v-html="html_body"></div>
    </div>
  </div>
  </div>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/reqwest.min.js"></script>

<script>

var app = new Vue({
  el: '#activity-app',
  data: {
    url: null,
    title: null,
    subject: null,
    grade: null,
    software: null,
    html_body: '',
    plain_body: '',
    devices: [],
    concepts: [],
    pacing: '',
    fetching: false,
    submitting: false,
    submitted: false,
    parseError: false
  },
  methods: {
    resetMe: function() {
      this.title = this.subject = this.grade = null;
      this.html_body = this.devices = this.plain_body = '';
      this.fetching = true;
      this.parseError = false;
      this.submitting = false;
    },
    parseDoc: function(e) {
      e.preventDefault();
      this.resetMe();

      var self = this;

      reqwest({url: '/activities/parse/?url=' + this.url}).then(function(data) {
        self.html_body = data.body;
        self.plain_body = data.plain_body;
        self.title = data.title;
        self.grade = data.grade;
        self.subject = data.subject;
        self.devices = data.devices;
        self.pacing = data.pacing;
        self.concepts = data.concepts;
        self.software = data.software;
        self.fetching = false;
      }).fail(function(err, status) {
        self.fetching = false;
        self.parseError = true;
      });
    },

    submit: function(e) {
      e.preventDefault();

      var self = this;
      if (!['title', 'grade', 'subject', 'url', 'html_body'].every(function(i){ return self[i] && self[i] !== ''; })) {
        return false;
      }

      this.submitting = true;

      var data = {
        title: this.title,
        grade: this.grade,
        subject: this.subject,
        devices: this.devices.join(':::'),
        concepts: this.concepts.join(':::'),
        pacing: this.pacing,
        software: this.software,
        html_body: this.html_body,
        plain_body: this.plain_body,
        url: this.url,
        csrfmiddlewaretoken: document.querySelector('input[name="csrfmiddlewaretoken"]').value
      };

      var self = this;

      reqwest({url: '/activities/create/', method: 'post', data: data}).then(function(response){
        console.log(response);
        self.submitting = false;
        self.submitted = true;
      }).fail(function(err, msg){
        console.log(err, msg);
        self.submitting = false;
      });

    }
  }
});
</script>
{% endblock %}
