{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="row">
  <div id="activity-app">
    <div v-if="submitted" class="col-md-4">
      <h1>Unit Submitted</h1>
      <p>You're unit has been submitted and is pending review.</p>
      <p><a href="/units/new">Click here to submit another unit</a></p>
    </div>
    <div v-else>

    <form id="create-activity" action="{% url 'create' %}" method="post" v-on:submit="submit" class="col-md-4">
      {% csrf_token %}

      <label for="url">Google Docs URL</labeL>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" name="url" id="url" v-model="url" placeholder="http://" v-on:keyup.enter="parseDoc">
          <span class="input-group-btn"><button class="btn btn-default" type="button" v-on:click="parseDoc">
            <span v-if="fetching">
              Parsing...
            </span>
            <span v-else>
              Fetch
            </span>
          </button></span>
        </div>

        <p style="margin-top: 15px;" class="bg-danger" v-if="parseError">
          Sorry that url couldn't be processed. Please make sure that you've entered a valid Google Doc url and that you've made your document public.
        </p>
      </div>

      <div v-if="html_body">
        <p class="form-group">
          <label for="title">Title</labeL>
          <input class="form-control" type="text" id="title" required v-model="title">
        </p>

        <p  class="form-group">
          <label for="grade">Grade</labeL>
          <select class="form-control" id="grade" required v-model="grade">
            <option value=""></option>
            {% for g in grades %}
              <option value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
          </select>
        </p>

        <p class="form-group">
          <label for="pacing">Pacing</labeL>
          <input class="form-control" type="text" id="pacing" required v-model="pacing">
        </p>

        {# <p class="form-group"> #}
        {#   <label for="subject">Subject</labeL> #}
        {#   <select class="form-control" id="subject" required v-model="subject"> #}
        {#     <option value=""></option> #}
        {#     {% for s in subjects %} #}
        {#       <option value="{{ s.id }}">{{ s.name }}</option> #}
        {#     {% endfor %} #}
        {#   </select> #}
        {# </p> #}

        <p class="form-group">
          <label>Tags</labeL>
            {% for t in tags %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ t.name }}" v-model="tags"> {{ t.name }}</label>
            {% endfor %}
        </p>

        <p class="form-group">
          <label>Concepts</labeL>
            {% for c in concepts %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ c.name }}" v-model="concepts"> {{ c.name }}</label>
            {% endfor %}
        </p>

        <p class="form-group">
          <label>Software</labeL>
            {% for d in software %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ d.name }}" v-model="software"> {{ d.name }}</label>
            {% endfor %}
        </p>

        <p class="form-group">
          <label>Devices</labeL>
            {% for d in devices %}
              <label style="display:block;font-weight:normal"><input type="checkbox" value="{{ d.name }}" v-model="devices"> {{ d.name }}</label>
            {% endfor %}
        </p>

        <textarea style="display:none;" v-model="html_body"></textarea>
        <textarea style="display:none;" v-model="plain_body"></textarea>

        <p class="form-group">
          <input type="submit" class="btn btn-default" value="Submit Unit" :disabled="submitting"/>
        </p>
      </div>
    </form>

    <div class="col-md-8" style="border-left: 1px solid #ccc;" v-if="html_body">
      <h3>Preview:</h3>
      <div id="preview" v-html="html_body"></div>
    </div>

    <div class="col-md-8"  style="border-left: 1px solid #ccc;" v-else>
      Submitting a meaningful CS unit to the Blueprint is easy, just follow these steps:
      <h3>Use Google Docs</h3>
      <p>Make sure your content is in Google Docs. Google Drive makes it easy to convert many different document types into Google Docs. We use Google docs because many educators use it and it makes it easy for educators to copy your unit and make changes.</p>


      <h3>Fetch</h3>
      <!-- <h3>Review and Submit</h3> -->
      <!-- <p>Once you’ve ensured you’ve got all your metadata in the document, please drop the link to the document in the submission form and click “Fetch”. The Blueprint site will retrieve and parse the document, looking specifically for the metadata from the previous step.</p> -->
      <p>Please drop the link to the document in the submission form to the left and click “Fetch”. Make sure the link is public. Once the blueprint site has parsed your document, you will be able to preview how your unit will look on the Blueprint site.</p>

      <h3>Provide Metadata</h3>
      <p>Metadata will help educators find your unit. Once your document has been processed, a form will appear in the sidebar. Fill out the form to provide information about your unit.</p>

      <p>Here is a list of the metadata fields:</p>
      <ul>
        <li><b>Title</b> -A descriptive name for your unit</li>
        <li><b>Grade</b> - K-2, 3-5, 6-8, 9-12 (choose one)</li>
        {# <li><b>Subject</b> - ELA, Math, Social Studies, Science, Art, Technology</li> #}
        <li><b>Pacing</b> - in hours and minutes (7 hours, 30 minutes)</li>
        <li><b>CS Concepts</b> - Select all relevant concepts. See Concepts section for concepts and subconcepts. (Abstraction - Pattern Recognition)</li>
        <li><b>Topic Tags</b> - Select all relevant topic tags</li>
        <li><b>Devices</b> - Select all relevant devices</li>
        <li><b>Software</b> - Select all relevant software</li>
      </ul>
      <h3>Submit</h3>
      <p> Once you feel good about the look and the metadata associated with your unit, click “Submit”.</p>

      <h3>Approval</h3>
      <p>Your unit will be reviewed by the CS4All team to ensure it meets the requirements for a meaningful CS unit and is aligned to the needs of classroom educators.</p>

    </div>
  </div>
  </div>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/reqwest.min.js"></script>

<script>

var app = new Vue({
  el: '#activity-app',
  data: {
    url: null,
    title: null,
    subject: null,
    grade: null,
    html_body: '',
    plain_body: '',
    devices: [],
    software: [],
    concepts: [],
    tags: [],
    pacing: '',
    fetching: false,
    submitting: false,
    submitted: false,
    parseError: false
  },
  methods: {
    resetMe: function() {
      this.title = this.subject = this.grade = null;
      this.html_body = this.devices = this.plain_body = '';
      this.fetching = true;
      this.parseError = false;
      this.submitting = false;
    },
    parseDoc: function(e) {
      e.preventDefault();
      this.resetMe();

      var self = this;

      reqwest({url: '/units/parse/?url=' + this.url}).then(function(data) {
        self.html_body = data.body;
        self.plain_body = data.plain_body;
        self.title = data.title;
        self.grade = data.grade;
        self.subject = data.subject;
        self.devices = data.devices;
        self.pacing = data.pacing;
        self.concepts = data.concepts;
        self.tags = data.tags;
        self.software = data.software;
        self.fetching = false;
      }).fail(function(err, status) {
        self.fetching = false;
        self.parseError = true;
      });
    },

    submit: function(e) {
      e.preventDefault();

      var self = this;
      if (!['title', 'grade', 'url', 'html_body'].every(function(i){ return self[i] && self[i] !== ''; })) {
        return false;
      }

      this.submitting = true;

      var data = {
        title: this.title,
        grade: this.grade,
        subject: this.subject,
        devices: this.devices.join(':::'),
        tags: this.tags.join(':::'),
        concepts: this.concepts.join(':::'),
        software: this.software.join(':::'),
        pacing: this.pacing,
        html_body: this.html_body,
        plain_body: this.plain_body,
        url: this.url,
        csrfmiddlewaretoken: document.querySelector('input[name="csrfmiddlewaretoken"]').value
      };

      var self = this;

      reqwest({url: '/units/create/', method: 'post', data: data}).then(function(response){
        console.log(response);
        self.submitting = false;
        self.submitted = true;
      }).fail(function(err, msg){
        console.log(err, msg);
        self.submitting = false;
      });

    }
  }
});
</script>
{% endblock %}
