<div id="page" class="has-page-menu">

  <div id="page-menu" class="light-theme">

    <header>
    
      <a href="#page-menu" class="toggle">
        <h3>
          <span class="icon open"><svg><use xlink:href="#icon-filter" /></svg></span>
          <span class="icon close"><svg><use xlink:href="#icon-close" /></svg></span>
          <span class="label">Find a Unit</span>
        </h3>
      
      </a>
    
    </header>

  <div class="menu-count">
    <form action="/units">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="q" value="{{filters.q}}" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default">Go!</button>
          </span>
        </div>
      </div>

      {% if user.is_superuser %}
      <div class="form-group">
        <select name="approved" id="approved-filter" class="form-control">
          <option value="1" {% if filters.approved == "1" %}selected{% endif %}>Approved</option>
          <option value="0" {% if filters.approved == "0" %}selected{% endif %}>Pending</option>
        </select>
      </div>
      {% endif %}


      <div class="form-group">
        <select name="grade" id="grade-filter" class="form-control">
          <option value="">All Grades</option>
          {% for grade in grades %}
          <option {% if filters.grade == grade.name %}selected{% endif %} value="{{grade.name}}">{{grade.name}}</option>
          {% endfor %}
        </select>
      </div>

      <button type='button'  class="btn btn-info" data-toggle="collapse" data-target=".advfilter">Show Filters</button>
      <hr />

      <div class="advfilter collapse">

      {# <div class="form-group"> #}
      {#   <select name="level" id="level-filter" class="form-control"> #}
      {#     <option value="">All Levels</option> #}
      {#   </select> #}
      {# </div> #}

      {# <div class="form-group"> #}
      {#   <select name="subject" id="subject-filter" class="form-control"> #}
      {#     <option value="">All Subjects</option> #}
      {#     {% for subject in subjects %} #}
      {#     <option {% if filters.subject == subject.name %}selected{% endif %} value="{{subject.name}}">{{subject.name}}</option> #}
      {#     {% endfor %} #}
      {#   </select> #}
      {# </div> #}
<!--
     <button type='button'  class="btn btn-info" data-toggle="collapse" data-target=".advfilter">Show Filters</button>
     <hr> -->

     <hr />
      <div class="form-group">
        <b>Filter by CS concept</b>
        {% for d in all_concepts %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="concept-filter" value="{{d}}" {% if d in filters.concepts %}checked{% endif %} name="concepts">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="form-group">
        <b>Filter by Topic</b>
        {% for d in all_tags %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="tag-filter" value="{{d}}" {% if d in filters.tags %}checked{% endif %} name="tags">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="form-group">
        <b>Filter by device</b>
        {% for d in all_devices %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="device-filter" value="{{d}}" {% if d in filters.devices %}checked{% endif %} name="devices">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="form-group">
        <b>Filter by software</b>
        {% for d in all_software %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="software-filter" value="{{d}}" {% if d in filters.software %}checked{% endif %} name="software">
            {{ d}}
          </label>
        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="form-group">
        <a href="/units" class="btn btn-default">Reset</a>
        <button class="btn btn-default">Apply</button>
      </div>
    </form>
    
  </div><!-- /.menu-content -->
  
</div><!-- /#page-menu -->