{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="about" class="row">
    <div class="col-md-9">
      <h2>About</h2>
      <p>The Computer Science for All (CS4All) Blueprint is an academic and implementation guide for teaching computer science in New York City public schools. We know it is a big undertaking to support educators and their school communities as they begin to integrate, many for the first time, computer science into their classrooms. So, we created the Blueprint with a dedicated group of <a href="#fellows">Teacher Fellows</a>, elevating their CS teaching knowledge and experience in NYC classrooms.</p>

      <p>We also gathered feedback across 30+ sessions with researchers, the CS education community, industry, and families, and incorporated their needs, values, and goals in our design direction and content. A list of these stakeholders, as well as the important ideas and feedback they offered are summarized below.</p> 

      <p>With this first published version of the Blueprint, the CS4All team is engaging a new cohort of Teacher Fellows, and work with administrators to further develop the resources schools need to implement a rigorous computer science curriculum.</p>

      <h4>A huge thank you to all those who attended our sessions. Here's a brief summary of what we learned:</h4>
        <div class="row">
            <div class="col-md-3">
                <h5>CS Education Researchers at the <a href="https://csnyc.org/our-work/csnyc-programs/knowledge-forum-2016" target="_blank">CSNYC Knowledge Forum</a></h5> 
                <p>Generalize concepts and practices to elevate computation thinking CSNYC Knowledge Forum
            </div>
            <div class="col-md-3">
                <h5>CS Education community at <a href="https://hiveresearchlab.org/what-we-do/ideologies-of-computer-science-education/" target="_blank">Hive Research Lab CS Visions Convenings</a></h5> 
                <p>Develop multiple perspectives to connect CS to schools’ visions and goals</p>
            </div>
            <div class="col-md-3">
                <h5>Tech and Tech-related Industry at CS4ALL Industry Roundtables</h5> 
                <p>Collaboration and critical thinking are equally important to technical skills</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>School leaders at Principal and Assistant Principal Conferences</h5> 
                <p>Include practical guides to support the roll-out of CS in schools</p>
            </div>
            <div class="col-md-3">
                <h5>Families at <a href="http://makerfaire.com/" target="_blank">World Maker Faire</a></h5> 
                <p>Families were most interested in general problem-solving and design-thinking skills </p>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>

<div id="fellows">
    <h2> CS4ALL Teacher Fellows</h2>
</div>

{% endblock %}
