{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
      DRAFT CS4All Blueprint
    {% endblock %}
  </title>
</head>

<body>
  <nav id="main-nav" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" id="logo"><img src="/static/images/logo.png" alt="CS4All Blueprint">(DRAFT SITE)</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/about">About Blueprint</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About CS Education <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/what-is-cs">What is CS education?</a></li>
            <li><a href="/meaningful-cs">What is a meaningful CS unit?</a></li>
            <li><a href="/cs-concepts-and-practices">CS concepts and practices</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/resources">All Resources</a></li>
            <li><a href="/resources?tag=Teachers">For Teachers</a></li>
            <li><a href="/resources?tag=Administrators">For Administrators</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Units <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/activities">Units</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'new' %}">New Unit</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/{{user.id}}">View Profile</a></li>
              <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'auth_login' %}">Log in</a></li>
          <li><a href="/accounts/register">Register</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="clearfix"></div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>

        <div id="footer">
          {% block footer %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="plan-info" aria-hidden="true" id="mymodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          Loading...
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block extra_scripts %}
  {% endblock %}
  <script>
    $('.dropdown-toggle').dropdown();

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84670539-2', 'auto');
    ga('send', 'pageview');
    // if modal trigger is clicked
    $('.ls-modal').on('click', function(e){
  e.preventDefault();
  var myModal= $('#mymodal');
  // shows modal
  myModal.modal('show');
  // puts the term in the header
  myModal.find('.modal-header').text($(this).attr('href'));
  var modalBod=myModal.find('.modal-body'); //finds the body of the modal
  // concatenates term with api address to make the call, loads it into the modal body
  modalBod.load("http://cs4all.nyc/api/glossary?term=".concat($(this).attr('href')));
});
  </script>


</body>

</html>
