{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="page">
    <article class="light-theme">

<div class="col-md-12">
  <header><span class="preamble"><h2 class="title"  style="line-height:1;">Computational Media Creator: Build My City</h2></span></header>
  
  <div class="article-content">
    <p>Computational Media Creators is a unit of computer science instruction that engages students in remixing and creating visual media using procedures on and off the computer. Students learn the basics of how computers function and represent data, problem solving strategies, different types of problems, and how visual programming languages can be used to create interactive, expressive projects. Every activity gives students time to work hands-on, personalize their work, and be creative while applying CS practices and concepts.</p>

    <div class="submenu">
    <a href="https://drive.google.com/open?id=19l27XWtF_uy9Z2M4UdqESK4F3gAQki3E" class="box" target="blank">
      <div class="box-content">
        <h4>View the Computational Media Creator curriculum</h4>       
      </div>
    </a>
    </div>
  </div>
</div>



</article>


</div><!-- /#page -->
{% endblock %}