{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-3">

  <h4>About CS Education</h4>

  <ul>
  <li><a href="/what-is-cs">What is CS education?</a></li>
  <li><a href="/meaningful-cs">What is a meaningful CS unit?</a></li>
  <li><a href="/cs-concepts-and-practices">CS concepts and practices</a></li>
  </ul>

</div>
<div class="col-md-9">

  <div>
    <p class="c13 c4 c10"><span class="c2"></span>
    </p>
  </div>
  <h1>CS Concepts and Practices</h1>
  <h2 class="c11" id="h.wotjuwogd8py"><span class="c22">Introduction</span></h2>
  <p class="c13 c4"><span>Computer science is the exploration and application of computing practices and concepts. </span><span>Some of the most common applications of computer science (CS) is to</span><span>&nbsp;program computers to do tasks including finding information, enabling communication, or increasing productivity. However</span><span>&nbsp;computers are </span><span>increasingly</span>
    <span
    class="c2">&nbsp;programmed in a wide range of fields to create visual art and music, build scientific simulations, or analyze and even generate literature.</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>In the sections below</span><span>&nbsp;we define the CS </span><span class="c8">Practices </span><span>and </span><span class="c8">Concepts</span><span>&nbsp;commonly applied across the diversity of computing applications. We introduce CS vocabulary and try to demystify concepts by presenting parallel examples of the other subjects. We also set the bar for a </span>
    <span
    class="c8">Meaningful CS Unit</span><span class="c2">&nbsp;that schools should aim to provide to all of their students.</span>
  </p>
  <h2 class="c15" id="h.1h4h24hmv3vd"><span>Practices</span></h2>
  <p class="c13 c4"><span class="c2">The CS practices below are methods to explore computer science. Each practice is defined &nbsp;will require time for students to apply concepts, synthesize information from multiple sources, and design and create artifacts.</span>
  </p>
  <ul class="c28 lst-kix_quyu3ys47vu2-0 start">
    <li class="c12 c4"><span class="c8">Analyze</span><span class="c2">&nbsp;the impacts of computing</span>
    </li>
    <li class="c12 c4"><span class="c8">Prototype</span><span class="c2">&nbsp;projects connected to their interests</span>
    </li>
    <li class="c12 c4"><span class="c8">Communicate</span><span class="c2">&nbsp;understanding of computing concepts</span>
    </li>
  </ul>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>Each practice description provides background information and an ideal stepwise process. Educators must scaffold those processes to fit the needs of their students. </span><span class="c20"><a class="c19" href="#h.jzqu74penk28">Jump to Practices</a></span>
    <span
    class="c2">.</span>
  </p>
  <h2 class="c15" id="h.wjx7mgbgcpjp"><span>Concepts</span></h2>
  <p class="c13 c4"><span class="c2">Computer science concepts provide a framework for what a computer can and cannot do. There are five top level concepts, each with multiple subconcepts: 1) Abstraction, 2) Algorithms, 3) Programming, 4) Data, 5) Networks.</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>Each concept and its subconcepts are defined below with demystifying examples of those concepts in Math and English Language Arts (ELA). </span><span class="c20"><a class="c19" href="#h.j57zqm8lar0t">Jump to Concepts</a></span><span class="c2">.</span>
  </p>
  <h2 class="c15" id="h.f2megj14as0p"><span class="c29">Meaningful CS Unit</span></h2>
  <p class="c13 c4"><span class="c2">The goal of Computer Science for All is to provide every student in NYC with a meaningful unit of computer science instruction at every grade band (K-2, 3-5, 6-8, 9-12) by 2025. Meaningful units of CS engage students in:</span>
  </p>
  <ul class="c28 lst-kix_6o5kojfnyknr-0 start">
    <li class="c12 c4"><span>a computer science topic of exploration aligned to a school&rsquo;s </span><span class="c8">culture</span><span>&nbsp;and/or </span><span class="c8">vision</span><span class="c2">,</span>
    </li>
    <li class="c12 c4"><span class="c8">all three CS practices </span><span class="c2">appropriately levelled by grade,</span>
    </li>
    <li class="c12 c4"><span class="c8">a subset of CS concepts that always includes programming </span><span class="c2">appropriately levelled by grade,</span>
    </li>
    <li class="c12 c4"><span>and a </span><span class="c8">performance task</span><span class="c2">&nbsp;that assesses students on their mastery of concepts &amp; practices.</span>
    </li>
  </ul>
  <h2 class="c11" id="h.jzqu74penk28"><span class="c22">Practices (P)</span></h2>
  <h2 class="c15" id="h.dg39y6oosdg5"><span class="c8">Analyze</span><span class="c29">&nbsp;the impacts of computing (AN)</span></h2>
  <p class="c13 c4"><span>Government, industry, and large organizations use the principles of computing to program computers to handle banking, surveillance, communication, and manufacturing. </span><span>In between,</span>
    <span
    class="c2">&nbsp;a diversity of groups use computing and computers to:</span>
  </p>
  <p class="c13 c4"><span class="c2">- accomplish complex tasks like driving cars, playing Jeopardy, or sequencing genes</span>
  </p>
  <p class="c13 c4"><span class="c2">- express themselves through graphics, games, or creative computing</span>
  </p>
  <p class="c13 c4"><span class="c2">- steal money, property, or information</span>
  </p>
  <p class="c13 c4"><span class="c2">- automate small or mundane tasks</span>
  </p>
  <p class="c13 c4"><span>- make decisions like forecasting the weather, recidivism, or amount of traffic</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>These are just a few examples. The breadth and depth of computing are growing fast. People of all backgrounds must evaluate and respond to the ways that computing is affecting their lives, their families and friends, and </span><span>the systems in which they live</span>
    <span
    class="c2">. In order to analyze the social impacts of computing, students should:</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <ol class="c28 lst-kix_74tpj5m9rdi6-0 start" start="1">
    <li class="c12 c4"><span class="c8">Describe</span><span>&nbsp;an </span><span class="c8">application</span><span class="c2">&nbsp;of computing by detailing who, what, where, when. Try to describe the application with data and by highlighting the relevant computing concepts</span>
    </li>
    <li class="c4 c12"><span class="c8">Analyze</span><span class="c2">&nbsp;the description and the data for patterns, general characteristics, or anomalies. Ask specific questions related to computing concepts </span>
    </li>
    <li class="c12 c4"><span class="c8">Interpret</span><span class="c2">&nbsp;the trends or insights from your analysis by looking for evidence to support an explanation. Test the evidence by researching similar cases, running experiments, or creating models.</span>
    </li>
    <li class="c12 c4"><span class="c8">Evaluate</span><span class="c2">&nbsp;the application of computing based on your investigation. What are the benefits and harms, to who, how much, when and how? What are potential modifications and the arguments for and against?</span>
    </li>
  </ol>
  <p class="c4 c10 c13"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span class="c2">(Describe, Analyze, Interpret, Evaluate from Lauren McCarthy at Learning to Teach, Teaching to Learn by SFPC 15 Jan 2017)</span>
  </p>
  <hr style="page-break-before:always;display:none;">
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <h2 class="c15" id="h.r53xzt8agl47"><span class="c8">Prototype</span><span>&nbsp;projects connected to student interests</span><span class="c29">&nbsp;(PR)</span></h2>
  <p class="c13 c4"><span>Computer science concepts are best explored and understood through hands-on experience building projects that are connected to students&rsquo; interests. CS concepts are tangible when applied using the &quot;Engineering Design Process&quot;: Ask, Research, Imagine, Plan, Create, Test, Improve (see reference below). The final step in the </span><span>EDP</span><span>&nbsp;is Improve. In order to improve a prototype it is very important for students to ask for strong formative feedback from peers or teammates and to maintain a growth mindset so they can repeat the steps of the EDP (</span>
    <span
    class="c8">iteration</span><span class="c2">). The process should be repeated as much as time allows because not only does it help students develop their prototypes, but it also helps students build a mental model of computing concepts.</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>In computer science, an important mental model to build is the </span><span class="c8">notional machine</span><span>. &quot;A robust mental model of a notional machine means that you can talk about what a computer can do, completely apart from what a computer is doing in any particular role or function.&quot; (</span>
    <span
    class="c20"><a class="c19" href="https://www.google.com/url?q=https://computinged.wordpress.com/2012/05/24/defining-what-does-it-mean-to-understand-computing/&amp;sa=D&amp;ust=1492413466678000&amp;usg=AFQjCNGu427s8-k6xEQzzxmiLThlP7fO2A">Guzdial</a>
      </span><span class="c2">, 24 May 2012). </span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>Even famous computer scientists like </span><span class="c20"><a class="c19" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Ada_Lovelace&amp;sa=D&amp;ust=1492413466680000&amp;usg=AFQjCNGTSah5X4089G0hqb6u2DlVXHMkjA">Ada Lovelace</a></span><span>, </span>
    <span
    class="c20"><a class="c19" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Grace_Hopper&amp;sa=D&amp;ust=1492413466681000&amp;usg=AFQjCNHQpZaU7CXeX5xFcschnOVaGxf7rA">Grace Hopper</a>
      </span><span>, and </span><span class="c20"><a class="c19" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Margaret_Hamilton_(scientist)&amp;sa=D&amp;ust=1492413466682000&amp;usg=AFQjCNG27hpJKr-UipoDvy0XU3p68rU_qA">Margaret Hamilton</a></span>
      <span
      class="c2">&nbsp;followed a process like the EDP in order to build up to an understanding of what a computer can do.</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span>To practice the Engineering Design Process, students should ideally work in small groups to </span><span class="c8">iteratively</span><span class="c2">&nbsp;build prototypes using the following steps:</span>
  </p>
  <ol class="c28 lst-kix_bo4whotq5uzj-0 start" start="1">
    <li class="c12 c4"><span class="c8">Ask</span><span class="c2">: identify the need &amp; constraints</span>
    </li>
    <li class="c12 c4"><span class="c8">Research</span><span class="c2">: the problem using trusted sources, interviews, etc.</span>
    </li>
    <li class="c12 c4"><span class="c8">Imagine</span><span>: develop possible solutions using </span><span class="c8 c24">ideation techniques</span>
    </li>
    <li class="c12 c4"><span class="c8">Plan</span><span class="c2">: select a promising solution and identify materials, timeline, and group roles</span>
    </li>
    <li class="c12 c4"><span class="c8">Create</span><span class="c2">: build a prototype to test solution using paper, digital media, or code</span>
    </li>
    <li class="c12 c4"><span class="c8">Test</span><span>: evaluate prototype</span><span class="c2">&nbsp;through user testing or formative feedback</span>
    </li>
    <li class="c12 c4"><span class="c8">Improve</span><span class="c2">: repeat process using feedback to identify new needs and constraints</span>
    </li>
  </ol>
  <h3 class="c31" id="h.j4soorm13rie"><span class="c32"></span></h3>
  <hr style="page-break-before:always;display:none;">
  <h3 class="c31" id="h.bdhrlzj18nbi"><span class="c32"></span></h3>
  <h2 class="c15" id="h.bfbo91hm2b6f"><span class="c8">Communicate</span><span class="c29">&nbsp;understanding of computing concepts (CO)</span></h2>
  <p class="c13 c4"><span class="c2">Students are expected to explain their thinking in writing or orally in computer science as they are in all subjects. They must communicate their analysis of computing impacts and how they applied computing concepts while prototyping projects. In addition to written and verbal communication, CS gives students a chance to express themselves through their prototypes. For example, a student that wants to display:</span>
  </p>
  <ul class="c28 lst-kix_h2nqv5ug6f2d-0 start">
    <li class="c12 c4"><span class="c2">her understanding of algorithms can write her program to explain to the user each step in her algorithm as it is happening.</span>
    </li>
    <li class="c12 c4"><span>his mastery of the programming </span><span class="c8">syntax</span><span>&nbsp;for </span><span class="c8">IF statements</span><span>, can write a program that implements a complex, nested IF statement with descriptive </span><span class="c8">comments</span>
      <span
      class="c2">&nbsp;in the program</span>
    </li>
    <li class="c12 c4"><span>her arguments around the impacts of basing journalism on clicks, likes and shares can build an </span><span class="c8">interactive</span><span class="c2">&nbsp;program that fact checks sample articles that users like</span>
    </li>
  </ul>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <p class="c13 c4"><span class="c2">To communicate understanding of computing concepts, students should:</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <ol class="c28 lst-kix_efgbqlq89vrs-0 start" start="1">
    <li class="c12 c4"><span class="c8">Choose a computing concept:</span><span class="c2">&nbsp;Focus on concepts central to the students&rsquo; work, concepts the student understands deeply through application.</span>
    </li>
    <li class="c12 c4"><span class="c8">Describe the audience: </span><span class="c2">Consider and plan on presenting ideas to broader audiences - the entire class, all teachers in the school, the community, etc. Empathize and think critically about the backgrounds, knowledge, and values of the audience.</span>
    </li>
    <li class="c12 c4"><span class="c8">Select a medium: </span><span class="c2">Select media that will reach the intended audience, interactive programs, video, audio, slide decks, blog posts, papers, or instructional activities.</span>
    </li>
    <li class="c12 c4"><span class="c8">Connect concept to analysis or prototype: </span><span class="c2">Explicitly show and explain the application of a computing concept by showing code from a prototype and explaining its significance in the program or by creating a relevant example that explains the concept and how it can be used.</span>
    </li>
    <li class="c12 c4"><span class="c8">Present thoughts, ideas, or arguments: </span><span class="c2">Present or publish the work and receive formative feedback in the form of question and answer, comments, or user testing. Publishing work and capturing feedback as part of digital portfolios helps work persist after the unit or class ends.</span>
    </li>
  </ol>
  <h2 class="c11 c17" id="h.f4x47btghlha"><span class="c22"></span></h2>
  <hr style="page-break-before:always;display:none;">
  <h2 class="c11 c17" id="h.uq07yysipf0t"><span class="c22"></span></h2>
  <h2 class="c11" id="h.j57zqm8lar0t"><span class="c22">Concepts (C)</span></h2>
  <h2 class="c15" id="h.qv1zpjjebiw"><span>Abstraction</span><span class="c29">&nbsp;(AB)</span></h2>
  <p class="c13 c4"><span>An abstraction represents a simplified idea or problem </span><span>derived </span><span>by ignoring details and using patterns or general characteristics. A simple example of a CS abstraction is a programming language, they allow programmers to give complex instructions to computers without worrying about the </span>
    <span
    class="c8">bits &amp; bytes</span><span class="c2">!</span>
  </p>
  <a id="t.9428604a15bc54a2d6c874c89c6a1f1207698b75"></a>
  <a id="t.0"></a>
  <table class="c6">
    <tbody>
      <tr class="c25">
        <td class="c1" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Subconcept</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Definition</span>
          </p>
        </td>
        <td class="c34" colspan="2" rowspan="1">
          <p class="c0"><span class="c36">Non</span><span class="c36">-CS Educator Examples</span>
          </p>
        </td>
      </tr>
      <tr class="c25">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">Math</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">ELA</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Decomposition (D)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c13 c4"><span>Ideas, problems, or projects are broken down into</span><span>&nbsp;component parts to set the stage for deeper analysis.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span>145 can be decomposed as 100 + 40 + 5.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A sentence can be decomposed into a subject and predicate.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Pattern Recognition (PR)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Decomposed component parts are examined to find patterns like similarities, repetition, conditional relationships, or nested relationships.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">2, 4, 6, 8, 10 are even numbers, &nbsp;1, 3, 5, 7, 9, 11 are odd numbers</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A poem can have rhyme schemes or meter.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Generalization &amp; Detail Removal (GDR)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Component parts are grouped by general characteristics and filter out unnecessary details.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Rounding or estimating removes details to provide a general understanding.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Summarizing a novel requires removing details and writing generally.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Modularity (M)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A process that completes a single task is more useful when it can be chained together with other processes to accomplish something more complex.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Interfaces (I)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Interfaces help users &nbsp;complete a tasks while hiding details of the overall process.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Function machines in math that take inputs and produce outputs hide the math being done.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Words have origins, usages, and histories that are hidden away, but writers and speakers can still use them effectively.</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <h2 class="c15" id="h.w8li5kp5t9ed"><span class="c29">Algorithms (AL)</span></h2>
  <p class="c13 c4"><span>Algorithms are generalized and repeatable sequence of instructions that achieve a particular </span><span>purpose and </span><span class="c2">output, given a set of inputs. It&#39;s important to understand when, why, and how to implement an algorithm and to consider who or what might be affected.</span>
  </p>
  <a id="t.6ff31dc9ace05c6d59eeff6ffee7563a61981770"></a>
  <a id="t.1"></a>
  <table class="c6">
    <tbody>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Subconcept</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Definition</span>
          </p>
        </td>
        <td class="c34" colspan="2" rowspan="1">
          <p class="c0"><span class="c7">Non-CS Educator Examples</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">Math</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">ELA</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Algorithm Design (AD)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c13 c4"><span>Instructions should be general, clear, well-formed, complete, and capable of being executed as intended and without confusion.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Showing </span><span>the strategies used to solve a problem.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Outlining a story or research paper to describe the overall structure of a story.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Control Flow (CF)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c13 c4"><span>The sequence in which steps of the algorithm will be executed, based on the use of logical constructs such a IF statements, loops, and calls to another procedure</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Order of operations dictates in what sequence a</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A story follows a sequence of events.</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
          <p class="c0 c4"><span class="c2">In non-fiction writing, a footnote can redirect us to look elsewhere for more information before coming back to where we left off.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Inputs, &nbsp;Variables, and Outputs (IVO)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c13 c4"><span>How </span><span class="c8">data</span><span class="c2">&nbsp;is passed into (inputs), manipulated by, used within (variables), and returned from (outputs) the algorithm</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A function machine is an example of a process that takes inputs, manipulates them in a way and outputs them.</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
          <p class="c0 c4"><span>* Variables in CS are like placeholders that can be assigned different values. This is different from variables in math.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Writing a paper that must be on a specific topic,use &nbsp;vocabulary words, and meet a word count</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
          <p class="c0 c4"><span class="c2">Inputs: topic, vocabulary, word count</span>
          </p>
          <p class="c0 c4"><span class="c2">Manipulation: Writing</span>
          </p>
          <p class="c0 c4"><span class="c2">Output: a paper</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Application (A)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c13 c4"><span class="c2">Understanding where, when, why and how to apply algorithms generally, and which algorithm to apply in a given context.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Decomposing a word problem to understand when we should add, subtract, multiply, or divide.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Stories, dramas, and poems have different structures - chapters, scenes, stanzas - that should be applied in different situations.</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="c15" id="h.yu8mfi6crc7m"><span class="c29">Programming (P)</span></h2>
  <p class="c13 c4"><span>Programming is about giving instructions to computers. Programming can be done through a </span><span>growing variety</span><span>&nbsp;of languages. Each language is translated from human-readable code into machine code that can </span><span>be completed</span>
    <span
    class="c2">&nbsp;by the computer&rsquo;s central processing unit, CPU.</span>
  </p>
  <p class="c13 c4 c10"><span class="c2"></span>
  </p>
  <a id="t.6b2df36d6642c381be9b12bf1c012c58abd5b494"></a>
  <a id="t.2"></a>
  <table class="c6">
    <tbody>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Subconcept</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Definition</span>
          </p>
        </td>
        <td class="c34" colspan="2" rowspan="1">
          <p class="c0"><span class="c7">Non-CS Educator Examples</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">Math</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">ELA</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Languages (L)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Programming languages have different applications and require different amounts of prior knowledge. Some languages can only be </span><span class="c8">run</span><span class="c2">&nbsp;on specific hardware while others run with software like a web browser.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Depending on the mathematical problem, simple arithmetic, ratios and fractions, geometry, or algebra will need to be applied.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Within English there are different writing or speaking styles that are used depending on the situation - research papers, persuasive essays, letters, etc.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Syntax (S)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">All programming languages have a set of commands, or reserved words, and grammar rules that must be followed.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Mathematical notation for simple addition problems to complex algebraic formulas follows a specific syntax.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Grammar rules are the syntax of the English language.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Development Environments (DE)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Programmers use development environments to create applications - these environments have an editor to write code, run and show a program&rsquo;s output, and log errors that arise. </span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Calculators can be used to quickly show the results of a calculation.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Word processors or other digital media do show our errors in the form of spell and grammar checking.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Collaboration (C)</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Collaborating on code is complex because each line is part of a larger algorithm or abstraction. Clearly setting team roles, saving versions along the way, and using parallel versions are some ways to manage the complexity.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">A large composition can be completed by multiple people by assigned different sections for each to write or assigning roles such as writer and proofreader.</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="c15" id="h.q42ma2xm44o3"><span class="c29">Data (D)</span></h2>
  <p class="c13 c4"><span class="c2">Computers can be used to collect, store, and analyze massive amounts of data quickly and reliably. Computers programs can use data to make decisions or automate tasks. </span>
  </p>
  <a id="t.f9e517f84cae6afdca20b17558e406eb4dd9749e"></a>
  <a id="t.3"></a>
  <table class="c6">
    <tbody>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Subconcept</span>
          </p>
        </td>
        <td class="c14" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Definition</span>
          </p>
        </td>
        <td class="c37" colspan="2" rowspan="1">
          <p class="c0"><span class="c7">Non-CS Educator Examples</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c18" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">Math</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">ELA</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Sensors &amp; </span><span>Sources</span><span class="c2">&nbsp;(SS)</span>
          </p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Data is collected by sensors such as video cameras or thermostats or from other sources such as government data or your </span><span class="c8">digital activity. </span><span>Data from sensors and sources must always be </span><span class="c8">cleaned</span>
            <span
            class="c2">.</span>
          </p>
        </td>
        <td class="c18" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Data can be collected from the class such as heights, interests, country of origin, etc.</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
          <p class="c0 c4"><span class="c2">If students are taking measurements of physical spaces, rulers can be seen as analogous to sensors.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Data Abstraction &amp; Storage (DAS)</span>
          </p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Data is represented in computers as binary but humans save and use data on computer as </span><span class="c8">lists</span><span>, </span><span class="c8">databases</span><span>, </span><span class="c8">key-value pairs</span><span class="c2">, etc.</span>
          </p>
        </td>
        <td class="c18" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Tables of rows and columns are an example of data representation.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Plot outlines or diagrams represent complex data in a structure form. This is a powerful because it shows data can be lost when represented. </span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Transformation &amp; Visualization (TV)</span>
          </p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Computers make looking at data easier by allowing us to quickly visualize data in different ways and to &ldquo;break up a big problem into manageable pieces, operate on each piece independently and then put all the pieces back together.&rdquo;</span>
          </p>
        </td>
        <td class="c18" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">When (x,y) points are plotted, it becomes easier to see their relationship.</span>
          </p>
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
          <p class="c0 c4"><span class="c2">If the (x,y) points are very far apart, the scale of a graph must be adjusted.</span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c1" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Feedback Loops &amp; Automation (FLA)</span>
          </p>
        </td>
        <td class="c14" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Automation is controlled by data. Some automation uses data from outside the automated system, like time. Other automation uses data on the output of the system, like temperature.</span>
          </p>
        </td>
        <td class="c18" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Proofreading provides closed-loop feedback (feedback on the output).</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="c15" id="h.brpx0n3iepx1"><span class="c29">Networks (N)</span></h2>
  <p class="c13 c4"><span>Networks, like the Internet, allow computers to interface with other computers through a set of rules, or protocols, that define how computers send and receive data. Protocols and standards are created and agreed </span><span>upon </span>
    <span
    class="c2">by groups of people.</span>
  </p>
  <a id="t.83db00233b607c2ded2967b03431af9e22d7aff4"></a>
  <a id="t.4"></a>
  <table class="c6">
    <tbody>
      <tr class="c16">
        <td class="c21" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Subconcept</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="2">
          <p class="c0 c10"><span class="c7"></span>
          </p>
          <p class="c0"><span class="c7">Definition</span>
          </p>
        </td>
        <td class="c39" colspan="2" rowspan="1">
          <p class="c0"><span class="c7">Non-CS Educator Examples</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c23" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">Math</span>
          </p>
        </td>
        <td class="c9" colspan="1" rowspan="1">
          <p class="c0"><span class="c7">ELA</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c21" colspan="1" rowspan="1">
          <p class="c0 c4"><span>Trust (T)</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c0 c4"><span>The common thread behind issues of </span><span>security,</span><span>&nbsp;</span><span>privacy and consent</span><span>&nbsp;is trust. Whenever we connect to a </span><span class="c8">network</span><span>, we must establish a level of trust that aligns with our security and privacy needs and implement and monitor </span>
            <span
            class="c8">protocols</span><span class="c2">to protect those needs.</span>
          </p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c9" colspan="1" rowspan="1">
          <p class="c0 c4"><span>When doing research or citing sources it is important to establish a level of trust in order to critically approach source materials. </span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c21" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Protocols (PRO)</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c0 c4"><span>In order to send data from one device to another, they must be synchronized, share a </span><span class="c8">syntax</span><span>&nbsp;for the data, share a method of </span><span class="c8">encryption</span><span class="c2">&nbsp;and have a way to report and recover from errors.</span>
          </p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Protocols for a math assignment include requirements like showing work that make communication between student and teacher easier.</span>
          </p>
        </td>
        <td class="c9" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Protocols for a writing assignment include the content that must be included, the length of the paper, and how it should be submitted.</span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c21" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Physical Internet (PI)</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c0 c4"><span>It is critical to understand the infrastructure of the Internet including the hardware, companies, governing bodies, etc. that connect your computer to </span><span class="c8">internet exchanges</span><span>&nbsp;where massive networks cross connect to the </span>
            <span
            class="c8">undersea fiber optic cables</span><span>&nbsp;that connect the world (not satellites).</span><span class="c2">&nbsp;</span>
          </p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
        <td class="c9" colspan="1" rowspan="1">
          <p class="c0 c4 c10"><span class="c2"></span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c21" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Markup (M)</span>
          </p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Hypertext Markup Language (HTML) is the standard way to publish information or applications on the Internet. It is a standard agreed upon by the Internet Engineering Task Force (IETF). It is not a programming language as it doesn&rsquo;t use logic. </span>
          </p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Mathematics has standard representations of different expressions: &frac12; is a fraction, 1 x 2 is multiplication, etc. </span>
          </p>
        </td>
        <td class="c9" colspan="1" rowspan="1">
          <p class="c0 c4"><span class="c2">Underlining titles, indenting paragraphs, starting sentences with capitalization and ending them with punctuation are all examples of publishing standards in English.</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 class="c31" id="h.zhb08affn595"><span class="c32"></span></h3>
  <hr class="c38">
  <div>
    <p class="c0 c4"><a href="#ftnt_ref1" id="ftnt1">[1]</a><span class="c27">&nbsp;</span><span class="c35">&quot;The Split-Apply-Combine Strategy for Data Analysis | Wickham | Journal of Statistical Software.&quot; </span><span class="c35 c40">The Split-Apply-Combine Strategy for Data Analysis | Wickham | Journal of Statistical Software</span>
      <span
      class="c35">. N.p., n.d. Web. 08 Feb. 2017.</span>
    </p>
  </div>
</div>

<style>

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #666;
    padding: 10px;
}
{% endblock %}

