{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <article id="explore-units">
    
        <header>
            <h2><span class="preamble">K-12</span> Curriculum</h2>
            <p></p>
        </header>       
        
        
        <div class="article-content">
                                            
            <ul class="activity-list">
            
                <li>
                    <a href="/curriculum/computational-media-explorer">
                        <div class="preview">
                            <img src="/static/images/assets/elementary_2.jpg" alt="computational media explorer unit" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades K-2</span>
                            <span class="activity-title">Computational Media Explorer: Computing Through Time</span>
                        </h3>
                        <span class="activity-devices">16-20 Hour Unit</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/computational-media-creator">
                        <div class="preview">
                            <img src="/static/images/assets/pic1.jpg" alt="computational media creator unit" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 3-5</span>
                            <span class="activity-title">Computational Media Creator: Build My City</span>
                        </h3>
                        <span class="activity-devices">16-20 Hour Unit</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/software-engineering-program-jr">
                        <div class="preview">
                            <img src="/static/images/assets/pic14.jpg" alt="Software Engineering Program Jr" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades K-5</span>
                            <span class="activity-title">Software Engineering Program Junior</span>
                        </h3>
                        <span class="activity-devices">K-5 Sequence</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/computational-media-innovator">
                        <div class="preview">
                            <img src="/static/images/assets/high_2a.jpg" alt="Computational Media Innovator" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 6-8</span>
                            <span class="activity-title">Computational Media Innovator: Learning to Program, Programming to Learn</span>
                        </h3>
                        <span class="activity-devices">16-20 Hour Unit</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/intro-to-pcomp/">
                        <div class="preview">
                            <img src="/static/images/assets/intro-to-pcomp.gif" alt="Introduction to Physical Computing" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grade 7</span>
                            <span class="activity-title">Introduction to Physical Computing</span>
                        </h3>
                        <span class="activity-devices">Software Engineering Program: 54 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/cs-discoveries">
                        <div class="preview">
                            <img src="https://i.ytimg.com/vi/uQim0hBHco0/mqdefault.jpg" alt="Code.org CS Discoveries" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 6-8</span>
                            <span class="activity-title">Code.org CS Discoveries</span>
                        </h3>
                        <span class="activity-devices">108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li><li>
                    <a href="/curriculum/software-engineering-program/">
                        <div class="preview">
                            <img src="http://cs4all.nyc/wp-content/uploads/2016/09/SEP-Hackathon.jpg" alt="Software Engineering Program" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grade 6-12</span>
                            <span class="activity-title">Software Engineering Program</span>
                        </h3>
                        <span class="activity-devices">6-12 Sequence</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming</span>
                    </a>
                    
                </li><li>
                    <a href="/curriculum/exploring-cs">
                        <div class="preview">
                            <img src="https://pbs.twimg.com/profile_images/3176850259/72da25556ca103ca5ad6bf21af7be1ea_400x400.jpeg" alt="Exploring Computer Science" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 9-10</span>
                            <span class="activity-title">Exploring Computer Science</span>
                        </h3>
                        <span class="activity-devices">108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li><li>
                    <a href="/curriculum/teals-intro-to-cs">
                        <div class="preview">
                            <img src="/static/images/curriculum-default-b.png" alt="TEALS Introduction to Computer Science" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grade 9-10</span>
                            <span class="activity-title">TEALS Introduction to Computer Science</span>
                        </h3>
                        <span class="activity-devices">54 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data</span>
                    </a>
                </li><li>
                    <a href="/curriculum/intro-to-computational-media">
                        <div class="preview">
                            <img src="/static/images/assets/intro-to-comp-media.gif" alt="Introduction to Computational Media" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grade 10</span>
                            <span class="activity-title">Introduction to Computational Media</span>
                        </h3>
                        <span class="activity-devices">Software Engineering Program: 108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data</span>
                    </a>
                </li><li>
                    <a href="/curriculum/bjc-cs-principles">
                        <div class="preview">
                            <img src="https://bjc.edc.org/bjc-r/img/slideshow/slideshow_01.jpg" alt="Beauty and Joy of Computing AP Computer Science Principles" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 10-12</span>
                            <span class="activity-title">Beauty and Joy of Computing AP CS Principles</span>
                        </h3>
                        <span class="activity-devices">108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li><li>
                    <a href="/curriculum/uteach-cs-principles">
                        <div class="preview">
                            <img src="https://uteach.utexas.edu/sites/uteach.utexas.edu/files/uteach-cs-logo-purple.jpg" alt="UTeach AP Computer Science Principles" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 10-12</span>
                            <span class="activity-title">UTeach AP CS Principles</span>
                        </h3>
                        <span class="activity-devices">108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li><li>
                    <a href="/curriculum/codeorg-cs-principles">
                        <div class="preview">
                            <img src="https://i.ytimg.com/vi/jQm0z894CG0/mqdefault.jpg" alt="Code.org AP Computer Science Principles" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades 10-12</span>
                            <span class="activity-title">Code.org AP CS Principles</span>
                        </h3>
                        <span class="activity-devices">108 Hour Course</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li><li>
                    <a href="/units">
                        <div class="preview">
                            <img src="/static/images/curriculum-default-b.png" alt="Units from the CS educator community" />
                        </div>
                        <h3>
                            <span class="activity-grade">Grades K-12</span>
                            <span class="activity-title">CS Educator Community Curriculum</span>
                        </h3>
                        <span class="activity-devices">Variety of Units</span>
                        <span class="activity-concepts">Concepts: Abstraction, Algorithms, Programming, Data, Networks</span>
                    </a>
                </li>
                
            
            </ul>
        
            
                        
        </div>

{% endblock %}