{% extends "base.html" %}
{% load i18n %}

{% block body_class %}homepage{% endblock %}
{% block content %}
<div id="page">


		<div class="jumbotron">
			<p><a class="intro-a" href="http://cs4all.nyc" target="_blank"><span class="expander">CS4ALL</span></a> will ensure every <span class="intro-2">NYC</span> student receives a <span class="intro-3">meaningful</span> unit of <span class="intro-1">computer science education</span> by 2025. With the <a class="intro-b" href="/about/"><span class="expander">Blueprint</span></a>, our <span class="intro-3">educators</span> are making it happen.</p>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 box"><a class="btn btn-primary btn-lg" href="#what-is-blueprint" role="button"><span class="preamble">Show me</span> how</a></div>
			</div>
		</div>


	    <div id="cs-in-classroom" class="interior-container">

			<h2><span class="preamble">CS in the</span> Classroom</h2>

			<div class="row gallery">
				<div class="col-sm-12 col-md-4">
					<a class="box embed html5lightbox" href="https://player.vimeo.com/video/226674454?autoplay=1" data-title="Student Work" data-subtitle="Elementary School">
						<div class="preview-image">
							<span class="icon"><svg><use xlink:href="#icon-play" /></svg></span>
							<img src="/static/images/assets/elementary-school-student-work.png" alt="preview" />
						</div>
						<h3>
							Elementary School
							<span class="subtitle">Student Work</span>
						</h3>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="box embed" href="https://player.vimeo.com/video/231736989?autoplay=1" data-title="Student Work" data-subtitle="Middle School">
						<div class="preview-image">
							<span class="icon"><svg><use xlink:href="#icon-play" /></svg></span>
							<img src="/static/images/assets/middle-school-student-work.png" alt="preview" />
						</div>
						<h3>
							Middle School
							<span class="subtitle">Student Work</span>
						</h3>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a class="box embed" href="https://player.vimeo.com/video/226674594?autoplay=1" data-title="Student Work" data-subtitle="High School">
						<div class="preview-image">
							<span class="icon"><svg><use xlink:href="#icon-play" /></svg></span>
							<img src="/static/images/assets/high-school-student-work.png" alt="preview" />
						</div>
						<h3>
							High School
							<span class="subtitle">Student Work</span>
						</h3>
					</a>
				</div>
			</div>

		</div><!-- / #cs-in-classroom -->


		<div id="what-is-blueprint" class="light-theme">

	    	<div class="interior-container">

				<h2><span class="preamble">What is the</span> Blueprint?</h2>

				<ul class="list-unstyled">

					<li>
						<a class="box" href="/what-is-cs/">
							<div class="box-content">
								<span class="icon"><svg><use xlink:href="#icon-foundations" /></svg></span>
								<h3>Explanations of CS concepts &amp; practices.</h3>
								No CS background required!
							</div>
						</a>

					</li><li>
						<a class="box" href="/units/">
							<div class="box-content">
								<span class="icon"><svg><use xlink:href="#icon-units" /></svg></span>
								<h3>Meaningful CS sample units.</h3>
								Learn how educators are integrating meaningful CS learning experiences
								at all grade bands and subjects.
							</div>
						</a>

					</li><li>
						<a class="box" href="/resources/">
							<div class="box-content">
								<span class="icon"><svg><use xlink:href="#icon-resources" /></svg></span>
								<h3>Tools for teachers of all experience levels.</h3>
								Preparing your first lesson incorporating CS? Looking for classroom management tips? We’ve got you covered.
							</div>
						</a>
					</li>

				</ul>


			</div>

		</div><!-- / #what-is-blueprint -->


		<div class="interior-container">

			<div id="featured-units">
        <div style="display:none">
				<h2><span class="preamble">Featured</span> Units</h2>

				<div class="row gallery">

					<div class="col-sm-6 col-md-4">
						<a class="box" href="/units/#">
							<div class="preview-image">
								<span class="icon"><svg><use xlink:href="#icon-units" /></svg></span>
								<img src="/static/images/assets/art_machine.jpg" alt="preview" />
							</div>
							<h3>
								Art Machine
								<span class="subtitle">k-2 | ELA &amp; Art</span>
							</h3>
						</a>
					</div>

					<div class="col-sm-12 col-md-4">
						<a class="box" href="/units/#">
							<div class="preview-image">
								<span class="icon"><svg><use xlink:href="#icon-units" /></svg></span>
								<img src="/static/images/assets/understanding_the_internet-b.jpg" alt="preview" />
							</div>
							<h3>
								Understanding the Internet
								<span class="subtitle">6-8 | ELA</span>
							</h3>
						</a>
					</div>

					<div class="col-sm-6 col-md-4">
						<a class="box" href="/units/#">
							<div class="preview-image">
								<span class="icon"><svg><use xlink:href="#icon-units" /></svg></span>
								<img src="/static/images/assets/biobots.jpg" alt="preview" />
							</div>
							<h3>
								Exploring Biorobotics
								<span class="subtitle">9-12 | Science</span>
							</h3>
						</a>
					</div>

				</div>
        </div>

				<div class="exit-links">

					<div class="row">
						<div class="col-lg-12 box" style="display:none">
							<a class="btn btn-primary btn-lg" href="/units/" role="button"><span class="preamble">Explore more</span> Units</a>
						</div>
						<div class="col-sm-6 box"><a class="btn btn-primary btn-lg" href="https://docs.google.com/a/strongschools.nyc/forms/d/e/1FAIpQLScrFYHGQltaZ8taqnOc81RM6rhswS171zpsRyKaUMCxkP1ZDQ/viewform" role="button"><span class="preamble">Get notified about</span> <span>educator trainings</span></a></div>
						<div class="col-sm-6 box"><a class="btn btn-primary btn-lg" href="http://cs4all.nyc/" role="button" target="_blank"><span class="preamble">Learn more about the</span> <span>CS4All initiative</span></a></div>
					</div>

				</div>

			</div><!-- / #featured-units -->


<!-- 			<footer>
				<p>&copy; 2017 The New York City Department of Education</p>
			</footer> -->
		</div> <!-- /container -->

	</div>

{% endblock %}
{% block extra_scripts %}
  <!-- <script type='text/javascript' src='/static/js/jquery.cookie.js?v=20170702'></script>
  <script type='text/javascript' src='/static/js/jquery.colorbox-min.js?ver=20170629'></script>
  <script type='text/javascript' src='/static/js/functions.js'></script> -->
{% endblock %}
