{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-9">
  <h1>Computer Science for All Blueprint</h1>
  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/213567223' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

    <p style="margin-top: 20px;">The Computer Science for All Blueprint is resource to help NYC public school educators bring meaningful computer science (CS) education to every student in their schools. You will find:</p>
    <ul>
      <li>Student work that will get you excited about what your students can accomplish with computer science,</li>
      <li>Educator-focused explanations of computer science practices and concepts as well as sample “I Can” statements for the K-2, 3-5, 6-8, and 9-12 grade bands,</li>
      <li>Classroom-ready Exemplar Computer Science Units that illustrate a meaningful CS unit integrated with different subject areas,</li>
      <li>Administrator and Teacher Resources, including videos of NYC CS classrooms and guides written by NYC public school teachers</li>
    </ul>
</div>
<div class="col-md-3">

  <p style="margin-top: 70px;"><a href="/what-is-cs" class="btn btn-primary">Click here to learn more about CS education</a></p>

  <p><a href="/activities" class="btn btn-primary">Click here to view exemplar units</a></p>

</div>
{% endblock %}

