{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-3">

  <h4>About CS Education</h4>

  <ul>
  <li><a href="/what-is-cs">What is CS education?</a></li>
  <li><a href="/meaningful-cs">What is a meaningful CS unit?</a></li>
  <li><a href="/cs-concepts-and-practices">CS concepts and practices</a></li>
  </ul>

</div>
<div class="col-md-9">
  <h2 style="margin-top:0">What is a meaningful CS unit?</h2>
  <p>The goal of Computer Science for All is to provide every student in NYC with a meaningful unit of computer science instruction at every grade band by 2025. Meaningful units of CS engage students in:</p>
  <ul>
    <li>a computer science topic of exploration aligned to a school’s <b>culture and/or vision</b>,</li>
    <li><b>all three CS practices</b> appropriately levelled,</li>
    <li><b>a subset of CS concepts that always includes programming</b> appropriately levelled, and</li>
    <li>and a <b>performance task</b> that assesses students on their mastery of concepts & practices.</li>
  </ul>

  <p>Every school will be required to either evaluate available or create their own meaningful CS units. While the CS4All team is releasing exemplar units (which will be added to over time), we expect that many NYC schools will choose to select other CS
    units or create their own to meet the needs of their school communities and instructional priorities. Exemplar units will guide teachers and school leaders in evaluating and/or creating high-quality and equitable CS instructional units, while ensuring
    coherent priorities across the different approaches.</p>

  <h3>Checklist for a meaningful CS unit</h3>
  <ul class="checkbox-list">
    <li><b>Aligned to a School Culture/Vision</b>: Unit topics match the school’s culture or vision for student achievement. For example if the school is focused on career or technical skills, an appropriate topic could be “How do software engineers protect
      consumer privacy”. If the school is focused on the arts an appropriate topic could be “Creating interactive art”.</li>
    <li><b>Specifies grade appropriate CS Concepts & Practices:</b> The units’ subconcepts and sub-practices align to the specifications in the CS4All Blueprint.</li>
    <li><b>Aligned to Subject Area:</b> Units can be integrated into existing subject areas or part of a technology course. Teachers and administrators should ensure the unit aligns with applicable standards for the subject matter through which is integrated.</li>
    <li><b>Performance Based Assessment Task Rubrics or Checklists:</b> CS units support hands-on work required of the CS Practices (Analyze, Prototype, Communicate). Students should be provided with transparent information about how to demonstrate mastery
      through a performance task.</li>
    <li><b>Differentiation:</b> CS units provide multiple means of matching...</li>
    <ul>
      <li>Content, or the concepts and topics, to students’ readiness,</li>
      <li>Processes, or activities students are doing, to students’ interests,</li>
      <li>Product, or what students are creating, to students’ talents, backgrounds, or preferences,</li>
    </ul>
    <li><b>Pacing:</b> CS units’ pacing aligns or is adaptable to the constraints of a school’s programming. For example, a unit may need to be adapted to a school’s existing block or period schedule.</li>
    <li><b>Pre-planning:</b> CS units provide teachers and administrators information about required prior knowledge and capacity, including concepts and practices students and teachers should already know, the technology required to implement the unit, and
      potential alternative implementation/adaptations.</li>
  </ul>
</div>
{% endblock %}
