{% extends "base.html" %}
{% load i18n %}
{% block content %}
<script src="/static/js/floatMenu.js"></script>
<div class="col-md-3" id="floatMenu">

  <h4>Blueprint CS Foundations</h4>

  <ul>
    <li><a href="/what-is-cs">What is CS education?</a></li>
    <li><a href="/meaningful-cs">What is a meaningful CS Unit?</a></li>
    <li><a href="/concepts">CS Concepts</a></li>
    <li><a href="/practices">CS Practices</a></li>
    <li><a class="filter" href="/perspectives">CS Perspectives</a></li>
    <li><a href="/ican">I Can Statements</a></li>
  </ul>

</div>
<div class="col-md-9">
  <h1>Computer Science Perspectives</h1>
 <!--  <p class="c4">Computer science is the exploration and application of computing practices and concepts. Computer science (CS) is the theoretical and practical study of fundamentals of computing. On the theoretical end, computer science deals with understanding and testing the limits of computers while on the practical end computer science is about creating computing systems like computers, the Internet, self-driving cars, interactive art installations, manufacturing robots, and more.</p> -->
  <p class="c4">The perspectives below are four approaches to teaching computer science (CS) <a href="/practices">practices</a> and <a href="/concepts">concepts</a>. These perspectives draw on the imperatives behind the CS4ALL initiative in New York City, as well as research from the the <a href="http://scratched.gse.harvard.edu/ct/defining.html">ScratchEd team</a> and the <a href="https://hiveresearchlab.org/what-we-do/ideologies-of-computer-science-education/">CSed Visions research project</a>, a collaboration between between New York University, Indiana University and the City University of New York.</p>
  <p class="c4">These perspectives aim to provide school leaders, teachers, and students a lens to frame their computer science teaching methodology. Schools should consider fostering perspectives that:</p>
  <ul>
    <li class="c3">Fit students&rsquo; prior experience with computer science</li><li class="c3">Support students&rsquo; evolving ideas about computer science</li>
    <li class="c3">Reflect the values of the school community;  principals, teachers and parents</li>
  </ul>
  <h2 class="c10" id="h.i7yj8sgfz3dj">Perspectives describe how and why students can learn computer science</h2>
  <p class="c4">Ideally, a teacher and school are able to identify how students can move from one CS perspective to the next by the end of a unit, course, or multi-year sequence. However, a single classroom or school can employ multiple perspectives to scaffold student learning.</p>
  <p class="c4">These perspectives are:</p>
  <ul class="c2 lst-kix_2qqdfzgghvt-0 start">
    <li class="c3">Explorer: &ldquo;I can play with computing practices and concepts.&rdquo;</li>
    <li class="c3">Creator: &ldquo;I can express myself with computing practices and concepts.&rdquo;</li>
    <li class="c3">Innovator: &ldquo;I can connect to the work of others using computing practices and concepts.&rdquo;</li>
    <li class="c3">Citizen: &ldquo;I can question how computing practices and concepts affect my community.&rdquo;</li>
  </ul>
  <p class="c4">Educators should use formal or informal pre-assessment to map out from which perspective to begin their CS unit and plan the perspective they'd like their students to develop. Furthermore, educators should use formative assessment to guide when and how they introduce a new perspective.</p><p class="c4 c21"></p>
  <p class="c4">We&rsquo;ve defined these Perspectives in detail below. Each definition addresses how each perspective interacts with the three required practices and with a subset of relevant concepts.</p>

  <a name="creator"></a><h2>Explorer (E)</h2>
  <p class="c4">Students begin their CS journey as Explorers playing with computing. To make CS real to them<sup><a href="#cmnt1" id="cmnt_ref1">[a]</a></sup>, Explorers manipulate computing applications, problems, and topics with physical or visual models or representations.</p><h3 class="c22" id="h.qsu7pljj4rf">Explorers + Practices</h3>
  <p class="c4">Even though they are just at the beginning of their CS journey, Explorers can still use all three practices in a single meaningful CS unit.</p>
  <ul>
    <li class="c3">Analyze: Explorers analyze computing applications that they can see, touch, and hear. </li>
    <li class="c3">Prototype: Explorers prototype computing artifacts by building in closed-ended or puzzle-based environments, remixing/reusing projects, and with teacher guidance.</li>
    <li class="c3">Communicate: Explorers communicate the results of their exploration in a way that highlights the connections they made between their lives and computer science concepts.</li>
  </ul>
  <h3>Explorers + Concepts</h3>
  <table class="c29">
    <tbody>
      <tr class="c6">
        <td class="c19" colspan="1" rowspan="1"><p class="c12">Concept</p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c12">Subconcepts</p></td><td class="c17" colspan="1" rowspan="1"><p class="c12">Example</p></td>
      </tr>
      <tr class="c28">
        <td class="c19" colspan="1" rowspan="1"><p class="c4">Abstraction</p></td>
        <td class="c14" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_mu5ocexibfsy-0 start">
            <li class="c0">Decomposition (AB.D) </li>
            <li class="c0">Pattern Recognition (AB.PR) </li>
            <li class="c0">Generalization and Detail Removal (AB.GDR)</li>
          </ul>
        </td>
        <td class="c17" colspan="1" rowspan="1"><p class="c4">Working with routines or tasks of a visual or physical nature, Explorers can break down the task into steps, notice patterns such as repetitions, and can find similarities between different steps or even entire tasks.</p></td>
      </tr>
      <tr class="c6">
        <td class="c19" colspan="1" rowspan="1"><p class="c4">Algorithms</p></td>
        <td class="c14" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_rm0ucx4ha7fv-0 start">
            <li class="c0">Algorithm Design (AL.AD)</li>
          </ul></td>
          <td class="c17" colspan="1" rowspan="1"><p class="c4">Explorers can design simple sequences and series of actions for routines or physical tasks.</p></td>
        </tr>
        <tr class="c6">
          <td class="c19" colspan="1" rowspan="1"><p class="c4">Programming</p></td>
          <td class="c14" colspan="1" rowspan="1">
            <ul class="c2 lst-kix_1weawln1gevz-0 start">
              <li class="c0">Syntax (P.S)</li>
            </ul></td>
            <td class="c17" colspan="1" rowspan="1">
              <p class="c4">Explorers can interact with visual syntax in an unplugged lesson where they give or receive commands from peers to complete a task. </p>
            </td>
          </tr>
          <tr class="c6">
            <td class="c19" colspan="1" rowspan="1"><p class="c4">Data</p></td><td class="c14" colspan="1" rowspan="1">
            <ul class="c2 lst-kix_az0ssww54zlf-0 start">
              <li class="c0 c15">Sensors and Datasets (D.SD)</li>
            </ul>
          </td>
          <td class="c17" colspan="1" rowspan="1"><p class="c4">Explorers can take measurements in their classroom or school using simple sensors to collect data for a purpose (i.e. digital rainfall meter, learning station check-in, etc.)</p></td>
        </tr>
        <tr class="c28">
          <td class="c19" colspan="1" rowspan="1"><p class="c4">Networks</p><p class="c4 c21"></p></td>
          <td class="c14" colspan="1" rowspan="1">
            <ul class="c2 lst-kix_f79a0o6i9mk7-0 start">
              <li class="c0">Physical Internet (N.PI)</li>
            </ul>
            </td>
            <td class="c17" colspan="1" rowspan="1"><p class="c4">Physically manipulating connections between objects, Explorers can begin to build an understanding of how they and others are able to connect to the Internet.</p></td>
          </tr>
        </tbody>
      </table>
<a name="creator"></a><h2>Creator (C)</h2>
<p class="c4">Students continue their CS journey as Creators expressing their ideas through computing. Intrigued by the possibilities of computing, Creators use computing to represent their ideas, thoughts, or interests.</p>
<h3>Creators + Practices</h3>
<p class="c4">Creators are making things, but still engage in all three practices to ensure authentic, meaningful CS learning.</p>
<p class="c4">In this context, Creators:</p>
<ul class="c2 lst-kix_lf1u8fy2x4s0-0">
  <li class="c3">Analyze: Categories of computing applications that intrigue them, or that they use daily.</li>
  <li class="c3">Prototype: Computing artifacts in open-ended, scaffolded environments by remixing/reusing theirs or other projects.</li>
  <li class="c3">Communicate: The connections they made between computing applications they analyzed, the artifacts they created, and the choices they made while building those artifacts.</li>
</ul>
<h3>Creators + Concepts</h3>
<table class="c29">
  <tbody>
    <tr class="c6">
      <td class="c16" colspan="1" rowspan="1"><p class="c12">Concept</p></td>
      <td class="c20" colspan="1" rowspan="1"><p class="c12">Subconcept</p></td>
      <td class="c25" colspan="1" rowspan="1"><p class="c12">Example</p></td>
    </tr>
    <tr class="c6">
      <td class="c16" colspan="1" rowspan="1"><p class="c4">Abstraction</p></td>
      <td class="c20" colspan="1" rowspan="1">
        <ul class="c2 lst-kix_mu5ocexibfsy-0">
          <li class="c0">Decomposition (AB.D) </li>
          <li class="c0">Pattern Recognition (AB.PR) </li>
          <li class="c0">Generalization and Detail Removal (AB.GDR)</li>
        </ul></td>
        <td class="c25" colspan="1" rowspan="1"><p class="c4">Working with written tasks or multi-step projects, Creators can break down projects into components, as well as find patterns and similarities between components of a project.</p></td>
      </tr>
      <tr class="c6">
        <td class="c16" colspan="1" rowspan="1"><p class="c4">Algorithms</p></td>
        <td class="c20" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_rm0ucx4ha7fv-0">
            <li class="c0">Algorithm Design (AL.AD)</li>
            <li class="c0">Control Flow (AL.CF)</li>
          </ul>
        </td>
        <td class="c25" colspan="1" rowspan="1"><p class="c4">Creators can design and implement multi-step processes that use loops, parallelism, and conditionals that leverage patterns and characteristics. </p></td>
      </tr>
      <tr class="c6">
        <td class="c16" colspan="1" rowspan="1"><p class="c4">Programming</p></td>
        <td class="c20" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_1weawln1gevz-0"><li class="c0">Syntax (P.S) </li><li class="c0">Development Environments (P.DE)</li></ul></td>
          <td class="c25" colspan="1" rowspan="1"><p class="c4">Creators can implement algorithms in development environments that offer open-ended possibilities with visual programming languages.</p></td>
        </tr>
        <tr class="c6"><td class="c16" colspan="1" rowspan="1"><p class="c4">Data</p></td>
          <td class="c20" colspan="1" rowspan="1">
            <ul class="c2 lst-kix_az0ssww54zlf-0">
              <li class="c0 c15">Sensors and Datasets (D.SD)</li>
            </ul></td>
            <td class="c25" colspan="1" rowspan="1"><p class="c4">Creators can interpret a dataset provided by a teacher  to inform the design a prototype, such as using rainfall data to ensure a digital rain  meter has a large enough reservoir.</p></td>
          </tr>
          <tr class="c6">
            <td class="c16" colspan="1" rowspan="1"><p class="c4">Networks</p></td>
            <td class="c20" colspan="1" rowspan="1">
              <ul class="c2 lst-kix_f79a0o6i9mk7-0">
                <li class="c0">Trust (N.T) </li>
                <li class="c0">Physical Internet (N.PI)</li>
                <li class="c0">Markup (N.M)</li>
              </ul>
            </td>
            <td class="c25" colspan="1" rowspan="1"><p class="c4">Creators can communicate the types of information they want to share on a network, given the people on that network.</p></td>
          </tr>
        </tbody>
      </table>
<a name="innovator"></a><h2>Innovator (I)</h2>
  <p class="c4">Innovators engage with open-ended topics connected to the work of individuals in public, private and open-source domains of CS practice.</p>
<h3>Innovators + Practices</h3>
  <ul class="c2 lst-kix_lf1u8fy2x4s0-0">
  <li class="c3">Analyze: Computer science in practice by looking at the purpose, the features, and the designs of different computing applications created by domains of CS practice.</li>
  <li class="c3">Prototype: Projects around open-ended problems under constraints,utilizing tools and structures used by individuals in CS practice domains..</li>
  <li class="c3">Communicate: Their work analyzing and prototyping applications, with a focus on the connections to CS practice domains. </li>
</ul>
<h3>Innovators + Concepts</h3>
<table class="c29">
  <tbody>
    <tr class="c6">
      <td class="c19" colspan="1" rowspan="1"><p class="c12">Concept</p></td>
      <td class="c26" colspan="1" rowspan="1"><p class="c12">Subconcept</p></td>
      <td class="c7" colspan="1" rowspan="1"><p class="c12">Example</p></td>
  </tr>
  <tr class="c6"><td class="c19" colspan="1" rowspan="1"><p class="c4">Abstraction</p></td>
    <td class="c26" colspan="1" rowspan="1">
    <ul class="c2 lst-kix_mu5ocexibfsy-0">
      <li class="c0">Decomposition (AB.D) </li>
      <li class="c0">Pattern Recognition (AB.PR) </li>
      <li class="c0">Generalization and Detail Removal (AB.GDR) </li>
      <li class="c0">Interfaces (AB.I)</li>
    </ul></td>
<td class="c7" colspan="1" rowspan="1"><p class="c4">Innovators can break down computing applications or problems; find patterns in how applications are used, designed, or implemented, understand how to focus on components that can be addressed with computing, and consider how others use their applications.</p></td>
</tr>
<tr class="c6">
<td class="c19" colspan="1" rowspan="1"><p class="c4">Algorithms</p></td>
<td class="c26" colspan="1" rowspan="1">
  <ul class="c2 lst-kix_rm0ucx4ha7fv-0"><li class="c0">Algorithm Design (AL.AD) </li>
    <li class="c0">Control Flow (AL.CF) </li>
    <li class="c0">Inputs, Variables, Outputs (AL.IVO)</li>
  </ul></td>
  <td class="c7" colspan="1" rowspan="1"><p class="c4">Innovators can design algorithms that can be applied to an open-ended process. They can consider the inputs that such algorithms might need, the values in the algorithm that may change based on inputs, and how the algorithm can be designed to provide different outputs.</p></td>
</tr>
<tr class="c6">
  <td class="c19" colspan="1" rowspan="1"><p class="c4">Programming</p></td>
  <td class="c26" colspan="1" rowspan="1">
    <ul class="c2 lst-kix_1weawln1gevz-0">
      <li class="c0">Languages (P.L)</li>
      <li class="c0">Syntax (P.S) </li>
      <li class="c0">Development Environments (P.DE)</li>
      <li class="c0 c15">Collaboration (P.C)</li>
    </ul></td>
    <td class="c7" colspan="1" rowspan="1"><p class="c4">Innovators can work in development environments similar or the same as the environments used in CS practice domains, while effectively collaborating with others to build a single prototype -- by using versions, roles, and methods for merging work done separately.<sup><a href="#cmnt2" id="cmnt_ref2">[b]</a></sup></p></td>
  </tr>
  <tr class="c6">
    <td class="c19" colspan="1" rowspan="1"><p class="c4">Data</p></td><td class="c26" colspan="1" rowspan="1">
    <ul class="c2 lst-kix_az0ssww54zlf-0">
      <li class="c0 c15">Sensors &amp; Datasets (D.SD)</li>
      <li class="c0 c15">Data Abstraction &amp; Storage (D.DAS) </li>
      <li class="c0 c15">Transformation and Visualization (D.TV)</li>
    </ul></td>
    <td class="c7" colspan="1" rowspan="1"><p class="c4">Innovators can reflect on data about open-ended issues collected by sensors and datasets by storing, organizing, and mapping it to contextual data like user, time, or other datasets. Innovators can tell stories with data by presenting more than one meaningful view.</p></td>
  </tr>
  <tr class="c6">
    <td class="c19" colspan="1" rowspan="1"><p class="c4">Networks</p></td>
    <td class="c26" colspan="1" rowspan="1">
      <ul class="c2 lst-kix_f79a0o6i9mk7-0">
        <li class="c0">Trust (N.T) </li>
        <li class="c0">Physical Internet (N.PI)</li>
        <li class="c0">Markup (N.M)</li>
      </ul></td>
      <td class="c7" colspan="1" rowspan="1"><p class="c4">Innovators can share analyses and prototypes on a network using markup/markdown protocols, while keeping  privacy, security and consent in mind.</p></td></tr>
    </tbody>
  </table>
<a name="citizen"></a><h2>Citizen(Z)</h2>
<p class="c4">Citizens examine and try to influence the intersection of computing with social, economic and political systems<sup><a href="#cmnt3" id="cmnt_ref3">[c]</a></sup>.</p>
<h3>Citizens + Practices</h3>
<ul class="c2 lst-kix_4g45pdhdgrq4-0 start">
  <li class="c3">Analyze:Trends and patterns that illuminate who is impacted, how they are affected, and what might be done to mitigate or improve these experiences.</li>
  <li class="c3">Prototype: Citizens prototype computing applications that tackle systemic issues that are not only open-ended, but require consideration of related ethical, social and economic consequences.</li>
  <li class="c3">Communicate: Their work as arguments, proposals, and rationale of the explicit and implicit impact of computing to relevant social systems.<sup><a href="#cmnt4" id="cmnt_ref4">[d]</a></sup> </li>
</ul>
<h3>Citizens + Concepts</h3>
<table class="c29">
  <tbody>
    <tr class="c6">
      <td class="c16" colspan="1" rowspan="1"><p class="c12">Concept</p></td>
      <td class="c18" colspan="1" rowspan="1"><p class="c12">Subconcept</p></td>
      <td class="c1" colspan="1" rowspan="1"><p class="c12">Example</p></td>
    </tr>
    <tr class="c6">
      <td class="c16" colspan="1" rowspan="1"><p class="c4">Abstraction</p></td>
      <td class="c18" colspan="1" rowspan="1">
        <ul class="c2 lst-kix_mu5ocexibfsy-0">
          <li class="c0">Decomposition (AB.D) </li>
          <li class="c0">Pattern Recognition (AB.PR) </li>
          <li class="c0">Generalization and Detail Removal (AB.GDR)</li>
          <li class="c0">Modularity (AB.M) </li>
          <li class="c0">Interfaces (AB.I)</li>
        </ul>
      </td>
      <td class="c1" colspan="1" rowspan="1"><p class="c4">Citizens can effectively represent a problem, identify the role computing may play, and map out how computing fits or interacts with a system -- while taking into account different use cases.</p></td>
    </tr>
    <tr class="c6">
      <td class="c16" colspan="1" rowspan="1"><p class="c4">Algorithms</p></td>
      <td class="c18" colspan="1" rowspan="1">
        <ul class="c2 lst-kix_rm0ucx4ha7fv-0">
          <li class="c0">Algorithm Design (AL.AD) </li>
          <li class="c0">Control Flow (AL.CF) </li>
          <li class="c0">Inputs, Variables, Outputs (AL.IVO)</li>
          <li class="c0">Application (AL.A)</li></ul></td>
          <td class="c1" colspan="1" rowspan="1"><p class="c4">Citizens can evaluate the design of an algorithm given the constraints, goals, and history of a systemic issue by examining inputs and outputs, and investigating the intent behind the algorithm&rsquo;s decision-making.</p></td>
        </tr>
        <tr class="c6">
          <td class="c16" colspan="1" rowspan="1"><p class="c4">Programming</p></td><td class="c18" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_1weawln1gevz-0">
            <li class="c0 c15">Languages (P.L)</li>
            <li class="c0 c15">Syntax (P.S) </li>
            <li class="c0 c15">Development Environments (P.DE)</li>
            <li class="c0 c15">Collaboration (P.C)</li>
          </ul>
        </td>
        <td class="c1" colspan="1" rowspan="1"><p class="c4">Citizens can identify the right programming languages, environments, or collaborations for a specific systemic issue, and explain their thinking.<sup><a href="#cmnt5" id="cmnt_ref5">[e]</a></sup></p></td></tr><tr class="c6">
        <td class="c16" colspan="1" rowspan="1"><p class="c4">Data</p></td>
        <td class="c18" colspan="1" rowspan="1">
          <ul class="c2 lst-kix_az0ssww54zlf-0">
            <li class="c0 c15">Sensors and Datasets (D.SD),</li>
            <li class="c0 c15">Data Abstraction &amp; Storage (D.DAS) </li>
            <li class="c0 c15">Transformation &amp; Visualization (D.TV)</li>
            <li class="c0 c15">Feedback Loops &amp; Automation (D.FLA)</li>
          </ul></td>
          <td class="c1" colspan="1" rowspan="1"><p class="c4">Citizens can identify, examine, and evaluate different sources of data<sup><a href="#cmnt6" id="cmnt_ref6">[f]</a></sup> created by a system for its relevance, potential uses, and potential misuses; putting emphasis on evaluating the feedback loops that use the data, or could use the data.</p></td>
        </tr>
        <tr class="c6"><td class="c16" colspan="1" rowspan="1"><p class="c4">Networks</p></td>
          <td class="c18" colspan="1" rowspan="1">
            <ul class="c2 lst-kix_f79a0o6i9mk7-0">
              <li class="c0">Trust (N.T),</li>
              <li class="c0">Protocols (N.PRO),</li>
              <li class="c0">Physical Internet (N.PI),</li>
              <li class="c0">Markup (N.M)</li>
            </ul></td>
            <td class="c1" colspan="1" rowspan="1"><p class="c4">Citizens can engage with the community of other citizens that actively shape the protocols and infrastructure that govern and shape the Internet.</p></td>
          </tr>
        </tbody>
      </table>


</div>

<style>
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid #666;
    padding: 10px;
  }
  .c8 {
    font-weight: bold;
  }

  .filter{
    color: grey
  }

</style>

{% endblock %}
