{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="page">
	<article class="green-theme">

		<header>
			<h2><span class="preamble">Computer Science</span> Practices</h2>
			<p>The intertwined methods by which computer science is studied and applied.</p>


		</header>

		<div class="article-content"><p>Each practice is composed of a progression of skills, based on Webb’s Depth of Knowledge, that educators can utilize to structure CS lessons based on their students’ needs. </p></div>

		<section id="practice-analyze" class="accordion-target">

			<header>
				<a class="box accordion" href="#practice-analyze">
					<div class="box-content">
						<span class="icon"><svg><use xlink:href="#icon-analyze" /></svg></span>
						<h3>Analyze</h3>
						“I can develop a deeper understanding of computing applications.”
					</div>
				</a>
			</header>


			<div class="section-content">

				<p>Students interact with computing applications created by government, industry, startups, nonprofits, researchers, artists and many others.They need to evaluate and respond to the ways that these applications affect their lives, their families and friends, as well as their communities. </p>

				<p>In order build their ability to analyze computing applications, educators should help students develop these skills:</p>

				<table class="ordered">

					<caption>Steps to Analyze the Impact of Computing</caption>

					<thead>
						<tr>
							<th>Skill</th>
							<th>Definition</th>
							<th>Example</th>
						</tr>
					</thead>

					<tbody>

						<tr>
							<th>Describe</th>
							<td><p>Describe an application of computing by detailing who, what, where, when. In this first step, focus on things that can be observed.</p></td>
							<td data-column="Example"><p>A keyboard allows users to input data into a computer. It has keys with letters, symbols and other functions.</p></td>
						</tr>

						<tr>
							<th>Examine</th>
							<td><p>Examine the description for patterns, general characteristics, or anomalies. How do the parts of the whole relate to each other and the user?</p></td>
							<td data-column="Example"><p>The letter keys are not arranged alphabetically. Some keys affect the behavior of others. Users need know the placement of, and how to read the keys.</p></td>
						</tr>

						<tr>
							<th>Interpret</th>
							<td><p>Interpret your analysis by looking for evidence to support an explanation. Test the evidence by researching similar cases, running experiments, or creating models (relates to<a href="#prototype"> prototype</a>).</p></td>
							<td data-column="Example"><p>I can draw on personal experience and interviews with others about how they use the keyboard, i.e. from memory, looking at the keyboard, etc.</p></td>
						</tr>

						<tr>
							<th>Evaluate</th>
							<td><p>Evaluate the application of computing, based on your investigation. What are its benefits and evils; and to whom, how much, when and how? What are potential modifications and the arguments for and against?</p></td>
							<td data-column="Example"><p>The keyboard works great for people that memorize the keys and know all the functions. Blind people or people without full control of their fingers may experience difficulties.</p></td>
						</tr>
					</tbody>
				</table>

			</div>

		</section>



		<section id="practice-prototype" class="accordion-target">

			<header>
				<a class="box accordion" href="#practice-prototype">
					<div class="box-content">
						<span class="icon"><svg><use xlink:href="#icon-prototype" /></svg></span>
						<h3>Prototype</h3>
						“I can express my ideas by making computing projects"
					</div>
				</a>
			</header>


			<div class="section-content">

				<p>The goal of the prototyping practice is to help students build a mental model of how to use a computer to create new applications. Computer applications or programs like word processors or web browsers define how students use computers in a limited way. When students practice prototyping computing projects, they are creating their own applications; using computers in different ways than when they use a word processor or web browser.</p>

				<p>There are many versions of and names for the prototyping process such as the engineering design process, design thinking process, and others that map to process and skills discussed below:</p>

				<table class="ordered">

					<caption>Steps to Prototype an Algorithm or Application</caption>

					<thead>
						<tr>
							<th>Skill</th>
							<th>Definition</th>
							<th>Example</th>
						</tr>
					</thead>

					<tbody>

						<tr>
							<th>Ask</th>
							<td><p>Identify a problem that can be solved, break it down into smaller parts, and set constraints that limit its goal, features, or complexity.</p></td>
							<td data-column="Example"><p>A school performance (dance, play, etc.) needs three animations of ten minutes each, but we can loop a shorter animation.</p></td>
						</tr>

						<tr>
							<th>Research</th>
							<td><p>Read about the problem, look into how others solve it, find projects you can repurpose / remix, interview people such as experts, or people that might use your prototype.</p></td>
							<td data-column="Example"><p>We researched concert videos with background animations, searched the Scratch community for projects to remix, and spoke to the performance director.</p></td>
						</tr>

						<tr>
							<th>Imagine</td>
							<td><p>Collaborate to imagine how to solve the problem. Use problem definition, constraints, and research to help you imagine new ideas.</p></td>
							<td data-column="Example"><p>We came together to jot down ideas on chart paper, crossed out ideas that were too hard, and voted on a couple options.</p></td>
						</tr>

						<tr>
							<th>Plan</th>
							<td><p>Select a promising solution, build a team, and set roles. Identify materials, break down your project into smaller parts, and set a timeline.</p></td>
							<td data-column="Example"><p>We drew a storyboard for each option, set a timeline to share it with the performance team, and then built it in code.</p></td>
						</tr>

						<tr>
							<th>Create</th>
							<td><p>Work with your team to build enough of the project in order to test it out and get feedback. Be creative about your materials: paper, drawing apps and code. Take pictures or video, and comment on your work or code.</p></td>
							<td data-column="Example">
								<p>First iteration: We created a slideshow of our animation options using pictures we found and drawings.</p>
								<p>Second iteration: We created animations in Scratch to test out with the projector.</p>
							</td>
						</tr>

						<tr>
							<th>Test or Critique</th>
							<td>
								<p>Allow different people to test your prototype without telling them how it works. Take detailed notes and ask questions.</p>
								<p>When critiquing or giving feedback, use the <a href="#analyze">analyze</a> practice to structure feedback.</p>
							</td>
							<td data-column="Example">
								<p>First iteration: The performance director and actors said that the theme and colors were good, but the animation was too fast.</p>
								<p>Second iteration: The animation was square but the projection was rectangular.</p>
							</td>
						</tr>

						<tr>
							<th>Improve</th>
							<td><p>Repeat the process using the information from testing as a new starting point. Repeat the process multiple times!</p></td>
							<td data-column="Example">
								<p>First Iteration: Slowing down the animation won&rsquo;t be simple, but can be done.</p>
								<p>Second Iteration: We will screen-capture the animation over a background to align its sides to the projection.</p>
							</td>
						</tr>

					</tbody>
				</table>

			</div>

		</section>



		<section id="practice-communicate" class="accordion-target">

			<header>
				<a class="box accordion" href="#practice-communicate">
					<div class="box-content">
						<span class="icon"><svg><use xlink:href="#icon-communicate" /></svg></span>
						<h3>Communicate</h3>
						“I can engage others in my ideas and work on computing concepts.”
					</div>
				</a>
			</header>


			<div class="section-content">

				<p>Students will have to communicate the complex thought processes behind their computer science work when they collaborate with professors, advisors, project leaders, customers and others across a range of different fields. These stakeholders will be interested in the ‘how’ and ‘why’ behind students’ projects and analyses.</p>

				<p>Students should practice the skills required to communicate their higher-order CS thinking, go through the <a href="#analyze">analyze</a> and <a href="#prototype">prototype</a> practices, and not just complete those activities.</p>


				<table class="ordered">

					<caption>Steps to Communicate the &ldquo;How&rdquo; And &ldquo;Why&rdquo; of a CS Project</caption>

					<thead>
						<tr>
							<th>Skill</th>
							<th>Definition</th>
							<th>Example</th>
						</tr>
					</thead>

					<tbody>

						<tr>
							<th>Show</th>
							<td>Talk, draw, sing, etc. about a computing application, why you think it’s interesting, or why you made it.</td>
							<td data-column="Example"><p>&ldquo;I made a circuit with two lights and button. When I’m not pushing the button, one light is on and the other is off and pushing the button reverses which one is on and off. I like this because it reminds me of a digital lock on a door, like in the movies!&rdquo;</p></td>
						</tr>

						<tr>
							<th>Explain</th>
							<td>In your own words talk, draw, sing, etc. about your understanding of how a computing application works. What did you discover about how it works while playing, testing, or creating it?</td>
							<td data-column="Example"><p>&ldquo;I used code that recognizes when the button in my circuit pushed if it is pushed, it turns on one light and turns off the other. That’s called an if-statement and it let’s me tell the computer how to make a simple decision.&rdquo;</p></td>
						</tr>

						<tr>
							<th>Present</th>
							<td>Talk, draw, sing, etc. about your understanding of computing concepts to a group of people. Consider how you might help your audience better understand your presentation - e.g. including relevant and practical examples or hands-on activities. Capture feedback that might be useful to improve your presentation.</td>
							<td data-column="Example"><p>&ldquo;I used code to make the button in my circuit do something simple, but interesting. The code is running on a small chip called a microcontroller. Anyone can program a microcontroller, so let’s all try to do a very simple blinking light activity together now. Once we do it, I’d love to hear what questions you have about microcontrollers.&rdquo;</p></td>
						</tr>

						<tr>
							<th>Discuss</th>
							<td>Engage in a deep discussion around computing concepts by asking questions, researching and presenting evidence, and drawing on your firsthand experiences using computing concepts.</td>
							<td data-column="Example"><p>Computers are getting smaller and can be embedded anywhere which could make our lives better, but how do we protect people’s privacy? Because small computers can’t store large amounts of data, people’s personal data is sent over the Internet to databases. What if I don’t want my data sent thousands of miles away?</p></td>
						</tr>

					</tbody>

				</table>

			</div>

		</section>

	</article>


	<div class="interior-container">

		<div class="exit-menu">
			<ol class="list-unstyled">
				<li>
					<a class="box" href="/what-is-cs/" role="button"><span class="box-content">CS Education</span></a>
				</li><li>
					<a class="box" href="/perspectives/" role="button"><span class="box-content">Perspectives</span></a>
				</li><li class="current">
					<a href="">Practices</a>
				</li><li>
					<div class="box">
						<a class="btn btn-primary btn-lg" href="/concepts/" role="button">Next: <span class="preamble">We&rsquo;ll define the</span> Concepts <span class="preamble">students explore through their CS practice.</span></a>
					</div>
				</li><li>
					<a class="box" href="/outcomes/" role="button"><span class="box-content">Outcomes</span></a>
				</li>
			</ol>
		</div>

	</div>

</div><!-- /#page -->
{% endblock %}
