{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="page">
    <article class="light-theme">

<div class="col-md-12">
  <header><span class="preamble"><h2 class="title"  style="line-height:1;">2020-21 CS4All Integrated Units</h2></span></header>

  <div class="article-content">
    <p>The computer science lessons for the 2020-21 school have been modified to work in both a blended and remote classroom environment. Each lesson folder contains all of the resources required to deliver computer science education to your students. Lesson plans, digital handouts, slide decks, and more are included!</p>
  </div>

  <div class="submenu">
      <a href="https://drive.google.com/drive/folders/11wVbjlVsbOGR5IUuo2flVMUE1WZJKxSh?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the K-2 Unit: Introduction To Computer Science</h4>       
        </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1JufIAUnmyYWq8eDojjBogTWnVqsR7_FH?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the 3-5 Unit: Introduction To Programming</h4>       
        </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1O37etKpzSoPNupbT4dOMkEBSRpomSn37?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the 6-8 Unit: Innovative Programming</h4>       
        </div>
      </a>
      </div>
</div>


</article>


</div><!-- /#page -->
{% endblock %}