{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="page">
    <article class="light-theme">

<div class="col-md-12">
  <header><span class="preamble"><h2 class="title"  style="line-height:1;">2020-21 CS4All Integrated Units</h2></span></header>

  <div class="submenu">
      <a href="https://drive.google.com/drive/folders/11wVbjlVsbOGR5IUuo2flVMUE1WZJKxSh?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the K-2 Unit: Introduction To Computer Science lessons</h4>       
        </div>
      </a>
      <br>
      <a href="https://drive.google.com/drive/folders/1JufIAUnmyYWq8eDojjBogTWnVqsR7_FH?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the 3-5 Unit: Creating From Scratch lessons</h4>       
        </div>
      </a>
      <br>
      <a href="https://drive.google.com/drive/folders/1O37etKpzSoPNupbT4dOMkEBSRpomSn37?usp=sharing" target="blank">
        <div class="btn">
          <h4>View the 6-8 Unit: Innovative Programming lessons</h4>       
        </div>
      </a>
      </div>
  
  <div class="article-content">
    <p>testing123</p>
  </div>
</div>


</article>


</div><!-- /#page -->
{% endblock %}