{% extends "base.html" %} {% load i18n %} {% block content %}
<div class="col-md-3">

  <h4>About CS Education</h4>

  <ul>
    <li><a href="/what-is-cs">What is CS education?</a>
    </li>
    <li><a href="/meaningful-cs">What is a meaningful CS unit?</a>
    </li>
    <li><a href="/cs-concepts-and-practices">CS concepts and practices</a>
    </li>
  </ul>

</div>
<div class="col-md-9">
  <h2 style="margin-top:0">What is CS Education?</h2>
  <p><b>Preamble</b>
    <br>
    <i>What are we trying to teach?</i>
  </p>

  <p>In Math class, students hold a pencil. They may hold that same pencil in English, but what they’re asked to produce, how they’re trained to think and question – these look different. In neither class is the pencil the focus.</p>

  <p>In Computer Science, the computer is the pencil.</p>

  <p>Your students have used computers to convey their thinking- to get it on a document, on a slide, in a picture, on a piece of paper. Our hope is that these resources will help you create a classroom in which students think with the computer, where the
    computer becomes “a bicycle for the mind,” a tool for empowering and unlocking our students’ curiosity and creativity.</p>

  <p>We’ll be tackling everything from recommended programming languages and courses of study to the arrangement of tables and chairs in your classroom. There is a lot to digest (and a lot that we are still learning) but these resources were put together
    by folks who love teaching Computer Science and learned to teach it, just like you, while we were in the classroom.</p>

  <p>A final thought, before we jump into the nitty-gritty. Why “CS4All”? After all, not everyone will become a computer programmer, and that is totally fine. Not every student will become a novelist, but every student has the right to read great literature,
    to be exposed to the possibility that she can create something great and enduring. CS4All is about unlocking potential. Our objective is not to produce coders, but young people who think about code and are not afraid to try to read and write it. In
    the history of Computer Science, we have largely been content to wait for prodigies to drive innovation. We believe there is more prodigious talent in our students that can be unlocked by learning to create and iterate. These resources are a commitment
    to equity, to unlocking more unrealized potential in all our students, in as many ways as we possibly can.</p>

</div>
{% endblock %}
