{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-3">
  {% if user.profile.full_name %}
    <h1 style="margin-top:0;">{{ user.profile.full_name }}</h1>
  {% else %}
    <h1 style="margin-top:0;">{{ user.profile.username }}</h1>
  {% endif %}
  <p> {{user.profile.organization}}</p>
  {% if user.profile.link %}
    <p>
      <a href="{{user.profile.link}}">{{user.profile.link}}</a>  
    </p>
  {% endif %}

</div>
<div class="col-md-9">
  <h2 style="margin-top: 0;">Units</h2>
    {% if activities %}
      {% include "activities/_activity_list.html" %}
    {% else %}
      <p>No units found.</p>
    {% endif %}
</div>
{% endblock %}


